.header{

  width: 100%;
  height: 80px;
  display: inline-block;
  background-color: white;

  .left-progress{
    width: 62px;
    height: 100%;
    float: left;
  }

  .summary{
    float: right;
    height: 100%;
    width: ~'calc(100% - 62px)';
  }

}

.content{
  width: 100%;
  height: ~'calc(100% - 80px)';
  display: inline-block;
}