@redHorbito: #ff2153;
@redHorbitoHover: #f81d4e;
@redHorbitoActive: #e51846;
@greenHorbito: #60b25e;
@greenHorbitoHover: #60b25e;
@greenHorbitoActive: #60b25e;
@blueHorbito: #0071f6;
@blueHorbitoHover: #0071f6;
@blueHorbitoActive: #0071f6;

*{
  font-family: 'Lato';
}

.title{
  float: left;
  font-size: 21px;
  color: #252525;
  font-weight: 900;
  padding-left: 30px;
  padding-top: 24px;
  width: ~'calc(100% - 54px)';
}

.close{
  position: absolute;
  right: 0;
  top: 0;
  width: 14px;
  height: 14px;
  padding: 20px;
  opacity: 0.7;
  transition: all ease 0.1s;

  i{
    float: left;
    width: 14px;
    height: 14px;
    background-image: url('@static/closeInviteByMail.png');
    background-size: 14px 14px;
  }
}

.close:hover{
  opacity: 1;
}

.description{
  float: left;
  font-size: 15px;
  color: #717171;
  padding: 17px 30px 0 30px;
  width: ~'calc(100% - 60px)';
  line-height: 19px;
}

.mail-list{
  float: left;
  width: ~'calc(100% - 60px)';
  padding: 0 30px;
  max-height: 171px;
  margin-top: 30px;
}

.mail{
  float: left;
  width: ~'calc(100% - 18px)';
  height: 40px;
  border-radius: 6px;
  margin-bottom: 15px;
  background-color: #f0f0f0;
  font-size: 17px;
  color: #252525;
  padding-left: 20px;
  border: 1px solid transparent;
}

.wrong.mail{
  border: 1px solid red;
}

.add-mail{
  float: left;
  width: ~'calc(100% - 60px)';
  margin: 0px 30px 0 30px;
  .add-mail-text{
    float: right;
    color: #889399;
    font-size: 15px;
    cursor: pointer;
  }
}

.share-button{
  width: 122px;
  height: 40px;
  border-radius: 6px;
  background-color: @greenHorbito;
  transition: all ease 0.19s;
  position: absolute;
  bottom: 27px;
  right: 30px;
  opacity: 0.5;

  .share-text{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 14px;
  }
}

.share-button.valid{
  opacity: 1;
}

.share-button:hover{
  background-color: @greenHorbitoHover;
}

.share-button:active{
  background-color: @greenHorbitoActive;
}
