/* COLORS */
@colorMain: #7ebe30;

@grayHorbito: #51575f;
@grayHorbitoHover: #474d54;
@grayHorbitoActive: #42464d;
@grayHorbitoDisabled: #c3c9cc;

@greenHorbito: #60b25e;
@greenHorbitoHover: #4ea34b;
@greenHorbitoActive: #3d903b;
@greenHorbitoDisabled: #c3c9cc;

@blueHorbito: #0071f6;
@blueHorbitoHover: #006ae6;
@blueHorbitoActive: #0062d6;
@blueHorbitoDisabled: #c3c9cc;

@redHorbito: #ff2153;
@redHorbitoHover: #f81d4e;
@redHorbitoActive: #e51846;
@redHorbitoDisabled: #c3c9cc;

@text-light: #9a9aa2;
@text-dark: #252525;
@border-color: #eeeeee;

.links-container{
  float: left;
  width: 100%;
  height: ~'calc(100% - 35px)';
}

.wz-view{
  background-color: #fff;
  border-radius: 6px;

  .password-input{
    display: none;
  }

  &.show-password .password-input{
    display: block;
  }

  &.show-password .generate-link .info{
    margin-top: 0px;
    margin-bottom: 21px;

    i{
      width: 15px;
      height: 21px;
      background-position: -114px 0;
      margin-top: 0;
    }

    span{
      bottom: 1px;
    }

    .public{
      display: none;
    }

    .private{
      display: inline-block;
    }

  }

}

.ui-header{
  height: 34px;

  .ui-header-brand{
    padding: 10px 0 9px 16px;
  }

  .ui-minimize, .ui-maximize, .ui-close{
    margin-top: 5px;
    margin-bottom: 3px;
  }

}

.file-info{
  float: left;
  width: ~'calc(100% - 20px)';
  height: 33px;
  padding: 15px 0;
  margin: 0 10px;
  background-color: #fff;
  border-bottom: 1px solid @border-color;

  .icon{
    float: left;
    width: 32px;
    height: 32px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 20px 0 35px;
  }

  .name{
    float: left;
    display: block;
    font-family: Lato;
    font-size: 17px;
    color: @text-dark;
    height: 17px;
    padding: 8px 0 7px 0;
    width: 403px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

.generate-link{
  float: left;
  width: 100%;

  .title{
    margin: 28px 0 0 35px;
    font-family: Lato;
    font-size: 15px;
    font-weight: bold;
    color: @text-dark;
  }

  .link, .password-input{
    margin: 13px 20px;
    padding: 0 13px;
    width: 455px;
    height: 46px;
    border-radius: 6px;
    background-color: #f0f0f0;
    border: solid 2px transparent;
    font-family: Lato;
    font-size: 19px;
    color: @text-dark;
    line-height: 48px;

    &:focus{
      border: solid 2px @blueHorbito;
    }

  }

  .link{
    margin-bottom: 8px;
    display: block;
  }

  .password-input{
    margin: 12px 20px 0;
  }

  .info{

    margin: 4px 0 21px 35px;

    i{
      display: inline-block;
      background-image: url(@static/img/link/sprite.png);
      background-size: 164px 21px;
      background-position: -129px 0;
      margin-right: 8px;
      width: 15px;
      height: 15px;
      margin-top: 5px;
    }

    span{
      position: relative;
      font-family: Lato;
      font-size: 15px;
      color: @text-light;
      vertical-align: text-top;
    }

    .public{
      display: inline-block;
    }

    .private{
      display: none;
    }

  }

  .options{
    box-sizing: border-box;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;

    .option{

      figcaption{
        display: inline-block;
        font-family: Lato;
        font-size: 15px;
        font-weight: bold;
        color: @text-dark;
        letter-spacing: 0.02em;
      }

      .ui-checkbox{
        margin-left: 10px;
        top: 2px;
        display: inline-block;
      }

      &.disabled .ui-checkbox{
        opacity: 0.5;
      }

    }

  }

}

.button-bar{
  float: left;
  padding: 35px 35px 20px;
  display: inline-block;
  width: 100%;
  margin-right: -14px;
  box-sizing: border-box;

  .show-links{
    float: left;
    margin-top: 11px;
    display: none;
    color: @text-light;

    &.show{
      display: block;
    }

    i{
      background-image: url(@static/img/link/sprite.png);
      background-size: 164px 21px;
      width: 5px;
      height: 9px;
      background-position: -29px 0;
      margin-right: 10px;
      display: inline-block;
      margin-bottom: 1px;
    }

    &.opened i{
      width: 9px;
      height: 5px;
      background-position: -20px 0;
      width: 9px;
      height: 5px;
      margin-bottom: 4px;
      margin-right: 6px;
    }

    span{
      font-family: Lato;
      font-size: 15px;
      font-weight: bold;
      color: @text-light;
      letter-spacing: 0.02em;
    }

  }

  .create-link{
    float: right;
    padding: 11px 20px;
    border-radius: 6px;
    background-color: @blueHorbito;
    font-family: Lato;
    height: 15px;
    font-size: 15px;
    color: #feffff;
  }

  .create-link:active{
    background-color: @blueHorbitoActive !important;
  }

    .create-link:hover{
    background-color: @blueHorbitoHover;
  }

}

.links{
  float: left;
  width: 100%;
  table-layout: fixed;
  display: none;

  td, th{
    text-align: left;
    vertical-align: middle;
    font-family: Lato;
    font-size: 13px;
    color: @text-dark;
    padding: 1px 14px 0;
    background: #fff;
    height: 34px;
    box-sizing: border-box;

    &:nth-child( 1 ){
      width: 87px;
    }
    &:nth-child( 2 ){
      width: 183px;
    }
    &:nth-child( 3 ){
      width: 72px;
    }
    &:nth-child( 4){
      width: 93px;
    }
    &:nth-child( 5 ){
      width: 86px;
    }


  }

  th{
    border: 1px solid #e2e6e8;
  }

  th:first-child{
    border-left: none;
  }

  th:last-child{
    border-right: none;
  }

  td:nth-child( 1 ){
    padding: 1px 0 0;
  }

  tr:hover .icon{
    display: none;
  }

  tr:hover .remove-link-button{
    display: inline-block;
  }

  tr:nth-child( odd ){

    td{
      background: #f9f9fb;
    }

  }

  .remove-link-button{
    display: none;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }

  .icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 7px;
    background-image: url(@static/img/link/sprite.png);
    background-size: 164px 21px;

    &.password{
      background-position: -144px 0;

      &.enabled{
        background-position: -34px 0;
      }

    }

    &.preview{
      background-position: -74px 0;
      margin-left: 4px;

      &.enabled{
        background-position: -94px 0;
      }

    }

    &.download{
      background-position: -54px 0;
      margin-left: 5px;

      &.enabled{
        background-position: 0 0;
      }

    }

  }

}
