
.wz-app-1-link{
    
    background: #FFF;
    
}

.wz-app-1-link .wz-win-menu{
    
    border-bottom: 1px solid #E5E5E5;
    width: 335px;
    height: 13px;
    padding: 13px 15px;
    
}

.wz-app-1-link .wz-win-menu span{
    
    font-size: 15px;
    color: #646464;
    
}

.wz-app-1-link .wz-win-close{
    
    float: right;
    
}

.wz-app-1-link hr{
    width: 495px;
    height: 0px;
    float: left;
    margin: 15px;
    border: none;
    border-top: 1px solid #50BDFF;
}

.wz-app-1-link .link{

    width: 335px;
    height: 155px;
    padding-top: 20px;
    padding-left: 20px;
    
}

.wz-app-1-link .link span{
    
    float: left;
    font-size: 15px;
    color: #333;
    width: 80px;
    
}

.wz-app-1-link span.link-question{
    width: 335px;
}

.wz-app-1-link span.link-answer{
    width: 335px;
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.wz-app-1-link .link-password{

    width: 335px;   
    float: left;
    margin-top: 20px;
    
}

.wz-app-1-link .link-password input{

    width: 145px;
    float: left;
    margin-top: -3px;
    border-radius: 3px;
    border: 1px solid #DDD; 
    font-size: 14px;
    color: #666;
    padding: 3px 5px 3px 5px;
    
}

.wz-app-1-link .link-password input:focus{
    border: 1px solid #50BDFF;
}

.wz-app-1-link .link-password button{

    width: 80px;
    height: 24px;
    float: left;
    margin-top: -5px;
    margin-left: 12px;
    padding: 1px 2px 3px 2px;
    border-radius: 2px;
    border-top: 1px solid #50BDFF;
    text-align: center;
    font-size: 15px;
    color: #FFF;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    cursor: pointer;
    
    background-image: -moz-linear-gradient(50% 0% -90deg,rgb(60,181,255) 0%,rgb(44,153,255) 100%); 
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(60,181,255)),color-stop(1, rgb(44,153,255)));
    background-image: -webkit-linear-gradient(-90deg,rgb(60,181,255) 0%,rgb(44,153,255) 100%);
    background-image: -o-linear-gradient(-90deg,rgb(60,181,255) 0%,rgb(44,153,255) 100%);
    background-image: linear-gradient(0deg,rgb(44,153,255) 0%,rgb(60,181,255) 100%);
    
}

.wz-app-1-link .link-password button:hover{
    
    border-top: 1px solid #60CBFF;
    
    background-image: -moz-linear-gradient(50% 0% -90deg,rgb(77,197,255) 0%,rgb(56,175,255) 100%); 
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(77,197,255)),color-stop(1, rgb(56,175,255)));
    background-image: -webkit-linear-gradient(-90deg,rgb(77,197,255) 0%,rgb(56,175,255) 100%);
    background-image: -o-linear-gradient(-90deg,rgb(77,197,255) 0%,rgb(56,175,255) 100%);
    background-image: linear-gradient(0deg,rgb(56,175,255) 0%,rgb(77,197,255) 100%);
    
}

.wz-app-1-link .link-url{

    width: 335px;   
    float: left;
    margin-top: 20px;   
    
}

.wz-app-1-link .link-url input{
    
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    float: left;
    font-size: 14px;
    margin-top: -3px;
    padding: 3px 5px;
    width: 241px;
    cursor: default;
    
}

.wz-app-1-link .link-url input.filled{
    
    border: 1px solid #50BDFF;
    cursor: text;
    
}

.wz-app-1-link .link-preview{
    width: 335px;
    float: left;
    margin-top: 15px;
}

.wz-app-1-link .link-preview input{
    float: left;
    margin-top: 2px;
    cursor: pointer;
}

.wz-app-1-link .link-preview span{
    font-size: 15px;
    color: #666;
    float: left;
    margin-left: 8px;
    width: 295px;
}

.wz-app-1-link table{
    float: left;
    font-size: 14px;
    color: #333;
}

.wz-app-1-link table tr, .wz-app-1-link table td{
    border: 1px solid #aaa;
}

.wz-app-1-link .previous{
    width: 510px;
    height: 239px;
    float: left;
    margin-left: 15px;
    overflow: hidden;
}

.wz-app-1-link .previous.hidden{
    border: none;
    height: 0px;
}

.wz-app-1-link .previous-table{
    width: 510px;
    height: 200px;
    float: left;
    margin-top: 15px;
}

.wz-app-1-link .previous-table .wz-scroll-bar{
    width: 7px;
}

.wz-app-1-link .previous-table .wz-scroll-slider{
    width: 7px;
}

.wz-app-1-link .previous-title{
    float: left;
    font-size: 17px;
    color: #333;
}

.wz-app-1-link .first-column{
    width: 25px;
    padding: 5px;
}

.wz-app-1-link .second-column{
    width: 25px;
    padding: 5px;
}

.wz-app-1-link .third-column{
    width: 174px;
    text-align: center;
}

.wz-app-1-link .fourth-column{
    width: 73px;
    text-align: center;
}

.wz-app-1-link .fifth-column{
    width: 73px;
    text-align: center;
}

.wz-app-1-link .sixth-column{
    width: 73px;
    text-align: center;
}

.wz-app-1-link .seventh-column{
    width: 25px;
    text-align: center;
    vertical-align: middle;
}

.wz-app-1-link .link-lock{
    width: 25px;
    height: 25px;
    display: block;
    background: url("https://staticbeta.weezeel.com/app/1/lock.png") no-repeat;
    background-size: 25px 25px;
}

.wz-app-1-link .link-unlock{
    width: 25px;
    height: 25px;
    display: block;
    background: url("https://staticbeta.weezeel.com/app/1/unlock.png") no-repeat;
    background-size: 25px 25px;
}

.wz-app-1-link .link-prev{
    width: 25px;
    height: 25px;
    display: block;
    background: url("https://staticbeta.weezeel.com/app/1/prev.png") no-repeat;
    background-size: 25px 25px;
}

.wz-app-1-link .link-unprev{
    width: 25px;
    height: 25px;
    display: block;
    background: url("https://staticbeta.weezeel.com/app/1/unprev.png") no-repeat;
    background-size: 25px 25px;
}

.wz-app-1-link .link-delete{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-top: 5px;
    background: url("https://staticbeta.weezeel.com/app/1/cross.png") no-repeat;
    background-size: 16px 16px;
}

.wz-app-1-link input.link-data{
    width: 160px;
    float: none;
    font-size: 13px;
    position: relative;
    top: -7px;
    color: #333;
}

.wz-app-1-link tr span{
    position: relative;
    top: -7px;
}
