@darkHorbito: #252525;
@gray1: #717171;
@gray2: #9a9aa2;
@gray3: #bbbbc1;
@lightGray: #f9f9fe;

*{
	font-family: Lato;
}

.progress-container{
	position: absolute;
	width: 100%;
	height: 138px;
	top: 0;
	z-index: 2;
	border-radius: 6px;

	.ui-header-buttons{
		position: absolute;
		z-index: 4;
		right: 0;
	}

	.text-layer{

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 3;

		.percentage{

			float: left;
			margin-top: 19px;
    	margin-left: 21px;
			width: ~'calc(100% - 22px)';
			font-size: 30px;
			color: @darkHorbito;
			font-weight: 900;

		}

		.loading-info{

			float: left;
			margin-top: 19px;
			margin-left: 21px;
			width: ~'calc(100% - 22px)';
			font-size: 15px;
			color: @darkHorbito;

			.source, .destiny{
				color: #0071f6;
			}

		}

		.time-remaining{

			float: left;
			margin-top: 9px;
			margin-left: 21px;
			font-size: 15px;
			color: @gray1;


		}

		.time{

			float: left;
			margin-top: 9px;
			margin-left: 10px;
			font-size: 15px;
			color: @gray1;

		}

	}

	.loading-layer{

		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		transition: all 0.2s ease;
		background: #0071f6;
		z-index: 1;
	}

	.background-layer{

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 128px;
		transition: all 0.2s ease;
		background: #fff;
		opacity: 0.9;
		z-index: 2;
	}

	.gray-layer{
		position: absolute;
		top: 128px;
		height: 10px;
		width: 100%;
		background-color: #e1e1e3;
	}


}

.conflict-container{

	position: absolute;
	top: 138px;
	height: 136px;
	width: 100%;
	transform: translateY(-136px);
	background: #fff;
	z-index: 1;
	border-radius: 6px;

	.conflict{

		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		background-color: #fff;

	}

	.destination-conflict{

		float: left;
		font-size: 15px;
		color: @darkHorbito;
		font-weight: 900;
		margin-top: 18px;
    margin-left: 20px;

	}

	.number-conflict{

		float: right;
		font-size: 15px;
		color: @gray1;
		font-weight: 900;
		margin-top: 18px;
    margin-right: 23px;

	}

	.conflict-file{

		float: left;
		font-size: 15px;
		color: #0071f6;
		font-weight: 900;
		margin-top: 9px;
    width: ~'calc(100% - 20px)';
    margin-left: 20px;

	}

	.apply-all{
		float: left;
    margin-top: 44px;
    margin-left: 24px;
	}

	.for-all{

		float: left;
		font-size: 15px;
		color: @darkHorbito;
		margin-top: 44px;
    margin-left: 10px;

	}

	.replace-button{

		float: right;
		height: 33px;
		border-radius: 6px;
		background-color: #0071f6;
		margin-top: 34px;
    margin-right: 12px;

		span{
			float: left;
			text-align: center;
			color: #fff;
		  padding: 8px 30px;
  		font-weight: bold;
  		font-size: 15px;
		}

	}

	.mantain-button, .skip-button{

		float: right;
		height: 33px;
		border-radius: 6px;
		background-color: #51575f;
		margin-top: 34px;
		margin-right: 10px;

		span{
			float: left;
			text-align: center;
			color: #fff;
			padding: 8px 20px;
  		font-weight: bold;
  		font-size: 15px;
		}

	}

}