*{
  font-family: Lato !important;
	font-size: 13px;
	color: #5a5d66;
}

.wz-view-minimize, .wz-view-maximize, .wz-view-close{
  float: left;  
}

.window-buttons{
	float:right;
}

.wz-view{
    
    background: #FFF;
    
}

.wz-ui-header{
    
    width: 280px;
    height: 23px;
    padding: 9px 20px 7px 20px;
    
}

.wz-ui-header span{
    
    float: left;
    margin: 6px 0px 0px 105px;
    font-size: 13px;
    color: #666;
    
}

.grey{
	color: #949494;
}

.properties-selector{
	height: 29px;
	border-bottom: 1px solid #dcdcdc;
	background-color: #ececec;
	display: none;
}

.properties-button,.historic-button{
	float:left;
	width: 160px;
	padding-top: 10px;
}

.properties-button div,.historic-button div{
  /*display: inline-block;*/
  text-align: center;
  width: 160px;
  font-size: 13px;
	height: 19px;
}

.properties-button.active,.historic-button.active{
	background-color: white;
	border-bottom: 2px solid #7ebe30;
}

.properties{
  width: 320px;
  height: 470px;
  /*padding: 0px 10px 0px 10px;*/ 
}

.properties.historic{
  width: 320px;
  height: 345px;
  /*padding: 0px 10px 0px 10px;*/ 
}

.properties article{
  width: 245px;
  margin-bottom: 10px;
  float: left; 
}

.basic-properties{
	height: 29px;
	background-color: #f6f6f6;
	border-bottom: 1px solid #dcdcdc;
}

.file-name{
	float:left;
	width: 259px;
	padding: 9px 0px 7px 10px;
	border-right: 1px solid #dcdcdc;
}

.file-extension{
	float:left;
	width: 50px;
	text-align: center;
	padding-top: 10px;
	
}

.file-extension div{
	font-size: 11px;
}

.preview-size{
	height: 79px;
	border-bottom:1px solid #dcdcdc;
}

.preview{
	float:left;
	width:185px;
	padding:10px 0px 0px 10px;
}

.preview i{
	width: 60px;
	height: 60px;
	float:left;
	margin-right: 10px;
	background-size: cover;
}

.preview-text{
	font-size: 11px;
	margin: 2px 0px 2px 0px;
}

.size{
	width:124px;
	border-left: 1px solid #dcdcdc;
	float:right;
	text-align: center;
	padding: 30px 0px 28px 0px;
  font-size: 23px;
}

.file-location{
	height: 34px;
  border-bottom: 1px solid #dcdcdc;
  padding: 10px 0px 0px 10px;
	background-color: #f6f6f6;
}

.file-location div, .created-modified div, .file-permissions div{
	font-size: 11px;
}
.location{
  padding-top: 5px;	
}

.created-modified{
	height: 44px;
  border-bottom: 1px solid #dcdcdc;
}

.created{
	width:149px;
	border-right: 1px solid #dcdcdc;
	padding: 7px 0px 8px 10px;
	float: left;
}

.modified{
	padding: 7px 0px 8px 10px;
	width: 150px;
	float: left;
}

.created-date, .modified-date{
	padding-top: 9px;
}

.file-permissions{
	background-color: #f6f6f6;
  height: 84px;
  border-bottom: 1px solid #dcdcdc;
  padding: 10px 0px 0px 10px;
}

.permissions{
	height: 55px;
	margin: 10px 10px 0px 5px;
}

.permission{
	margin-bottom: 4px;
}

.permission i{
	height: 16px;
	width:  16px;
	float: left;
	background-image: url("@static/nope.png");
}

.permissions div{
	margin: 2px 0px 0px 5px;
  float: left;
}

.file-permissions .permission.yes i{
	background-image: url("@static/yes.png");
}

.column1, .column2, .column3{
	width: 75px;
	height: 55px;
	float: left;
}

.column1, .column2{
	padding-right: 30px;
}

.permission{
	width:90px;
	height: 20px;
}

.users-permissions{
	background-color: #f6f6f6;
	height: 164px;
  border-bottom: 1px solid #dcdcdc;
  padding: 10px 0px 0px 10px;
}

.users-box{
	margin: 10px 15px 15px 0px;
	height: 125px;
	background-color: white;
	border: 1px solid #dcdcdc;
	padding: 0px 10px 0px 10px;
}

.user-info{
	float: left;
	width: 155px;
}

.change-permission{
	float:right;
	text-align: right;
	width: 115px;
	font-size: 12px;
	margin-top: 5px;
	color: #949494;
}

.change-permission:hover{
	color: #7ebe30;
	text-decoration: underline;
}

.user{
	margin-top:10px;
	height: 24px;
	display: none;
}

.user.active{
	display: block;
}

.username{
	float: left;
  margin: 5px 0px 0px 7px;	
}

.user i{
	width: 24px;
	height: 24px;
	background-image: url("@static/yolo.jpg");
	float: left;
	background-size: cover;
}

.more-info{
	display: none;
	height: 110px;
	padding: 10px 0px 0px 10px;
	background-color: #f6f6f6;
}

.info-extended{
	height: 80px;
	margin: 10px 0px 0px 10px;
}

.more-info div{
	font-size: 11px;
}

.info-extended .title{
	float:left;
	margin-right: 10px;
}

.history-log{
	height: 285px;
	background-color: white;
}

.properties-tab.hide{
	display: none;
}

.action{
	width: 140px;
	float: left;
}

.change{
	height: 20px;
}

.change i{
	float:left;
}

.action-time{
	float:right;
}

.change .user-action-avatar{
	width: 10px;
	height: 10px;
	float:right;
	background-image: url("@static/yolo.jpg");
	background-repeat: no-repeat;
}

/* 	height: 385px; */