@text-light: #9a9aa2;
@text-dark: #252525;
@border-color: #eeeeee;

.ui-header{
  height: 34px;

  .ui-header-brand{
    padding: 10px 0 9px 16px;
  }

  .ui-minimize, .ui-maximize, .ui-close{
    margin-top: 5px;
    margin-bottom: 3px;
  }

}


.title{
  display: block;
  font-family: Lato;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: @text-light;
}

.file-name{
  float: left;
  width: 100%;
  height: 32px;
  padding: 16px 0;
  background-color: #fff;
  border-bottom: 1px solid @border-color;

  .icon{
    float: left;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 20px 0 20px;
    width: 32px;
    height: 32px;
    background-size: cover;

    img{

      max-width: 32px;
      max-height: 32px;

    }

  }

  .icon.folder{
    margin-top: 4px;
  }

  .name{
    float: left;
    display: block;
    font-family: Lato;
    font-size: 17px;
    color: @text-dark;
    height: 17px;
    padding: 8px 0 7px 0;
    width: 213px;
    margin-right: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

.file-info{
  float: left;
  width: 100%;
  border-bottom: 1px solid @border-color;
  background: #f9f9fe;

  .size{
    float: left;
    width: 166px;
    height: 104px;
    padding: 13px 0 0 21px;

    .size-value{
      display: block;
      margin-top: 20px;
      font-family: Lato;
    	font-size: 31px;
    	font-weight: bold;
    	text-transform: uppercase;
    	color: @text-dark;
    }

  }

  .divisor{
    float: left;
    margin: 14px 0;
    width: 1px;
    height: 89px;
    background: @border-color;
  }

  .metadata{
    float: left;
    width: 171px;
    height: 104px;
    padding: 13px 0 0 16px;

    .metadata-type, .metadata-special{
      display: block;
      margin: 10px 0 16px;
      font-family: Lato;
    	font-size: 15px;
    	color: @text-dark;
    }

  }

}

.file-path{
  float: left;
  width: 100%;
  height: 60px;
  padding: 16px 0;
  background-color: #fff;
  border-bottom: 1px solid @border-color;

  .title{
    margin-left: 21px;
  }

  /*.path{
    width: 100%;
    box-sizing: border-box;
    padding: 22px 20px 0;

    span{
      font-family: Lato;
    	font-size: 15px;
    	color: @text-dark;
    }

    i{
      margin: 0 10px;
      display: inline-block;
      width: 5px;
      height: 9px;
      background-image: url(@static/img/properties/sprite.png);
      background-size: 58px 22px;
      background-repeat: no-repeat;
      background-position: -31px 0;
      opacity: 0.8;
    }

  }*/

  .folder-breadcrumbs{
    width: 100%;
    box-sizing: border-box;
    padding: 22px 20px 0;
    overflow: hidden;

    & > .entry{
      font-family: Lato;
      font-size: 14px;
      color: @text-dark;
      white-space: nowrap;
    }

    & > .entry + .entry{
      margin-left: 20px;

      &:before{
        content : '';
        width: 4px;
        height: 8px;
        background: url('@static/img/sprite.png') no-repeat;
        background-size: 415px 18px;
        background-position: -66px 0;
        position: absolute;
        margin: 4px 0 0 -14px;
      }

    }

    .list-trigger{
      padding: 0 3px;

      i{
        width: 13px;
        height: 3px;
        background: url('@static/img/sprite.png') no-repeat;
        background-size: 415px 18px;
        background-position: -402px 0;
        display: inline-block;
        vertical-align: middle;
      }

      &:hover i{
        background-position: -402px -4px;
      }

    }

    .list{
      z-index: 1;
      min-width: 80px;
      max-width: 200px;
      position: absolute;
      top: 0;
      left: 0;
      padding: 12px 20px;
      background-color: rgba(255,255,255,.98);
      box-shadow: 0 5px 10px rgba(0,0,0,.1);
      border: solid 1px rgba(0,0,0,.15);
      border-radius: 6px;
      display: none;

      .entry{
        display: block;
        font-family: Lato;
        font-size: 13px;
        color: @text-dark;
        margin-bottom: 12px;

        &:last-child{
          margin-bottom: 0;
        }

      }

    }

  }

}

.file-date{
  float: left;
  width: 100%;
  border-bottom: 1px solid @border-color;
  background: #f9f9fe;


  .creation{
    float: left;
    width: 166px;
    height: 61px;
    padding: 13px 0 0 21px;
  }

  .divisor{
    float: left;
    margin: 14px 0;
    width: 1px;
    height: 45px;
    background: @border-color;
  }

  .modification{
    float: left;
    width: 171px;
    height: 61px;
    padding: 13px 0 0 16px;
  }

  .creation-value, .modification-value{
    display: block;
    margin: 18px 0 16px;
    font-family: Lato;
    font-size: 15px;
    color: @text-dark;
  }

}

.file-permissions{
  float: left;
  width: 100%;
  height: 103px;
  padding: 16px 0 0;
  background-color: #fff;
  border-bottom: 1px solid @border-color;

  .title{
    margin-left: 21px;
  }

  .permissions{
    box-sizing: border-box;
    width: 100%;
    padding: 16px 13px 0;
  }

  .permission{
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 15px;
    float: left;
    width: 33%;

    i{
      width: 22px;
      height: 22px;
      background-image: url(@static/img/properties/sprite.png);
      background-size: 58px 22px;
      background-repeat: no-repeat;
      background-position: 0 0;
      float: left;
      margin-right: 8px;
    }

    &.active i{
      background-position: -36px 0;
    }

    span{
      font-family: Lato;
    	font-size: 15px;
    	color: @text-dark;
      line-height: 21px;
    }

  }

}

.file-shared{
  float: left;
  width: 100%;
  padding: 16px 0;
  background-color: #f9f9fe;

  .title{
    margin-left: 21px;
  }

  .list{
    float: left;
    margin: 18px 0 0;
    padding: 0 23px 0 20px;
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    max-height: 125px;
  }

  .user{
    display: flex;
    align-items: center;
    float: left;
    height: 35px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;

    &:last-child{
      margin-bottom: 0px;
    }

    img{
      width: 35px;
      height: 35px;
      border-radius: 18px;
      margin-right: 14px;
      background-size: cover;
    }

    .name{
      font-family: Lato;
    	font-size: 15px;
    	color: @text-dark;
    }

    .rol{
      position: absolute;
      right: 0px;
      font-family: Lato;
	    font-size: 13px;
	    color: @text-light;
    }

  }

}
