
.wz-view{
    
    background: #FFF;
    
}

.wz-ui-header{
    
    width: 235px;
    height: 23px;
    padding: 9px 20px 7px 20px;
    
}

.wz-ui-header span{
    
    float: left;
    margin-top: 6px;
    font-size: 15px;
    color: #646464;
    
}

.wz-view-close{
    
    float: right;
    
}

.properties{
    
    width: 275px;
    height: 310px;
    padding: 15px;
    
}

.properties article{
    
    width: 245px;
    margin-bottom: 10px;
    float: left;
    
}

.properties article:first-child{
    
    margin-bottom: 5px;
    
}

.properties span{
    
    width: 160px;
    float: left;
    font-size: 15px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
    
}

.properties span:first-child{
    
    width: 80px;
    color: #333;
    
}

.properties input{

    width: 145px;
    margin-top: -3px;
    border-radius: 3px;
    border: 1px solid #DDD; 
    font-size: 14px;
    color: #666;
    padding: 3px 5px 3px 5px;
    
}

.properties input:focus{
    border: 1px solid #50BDFF;
}

article.properties-attr{
    margin-bottom: 4px;
}

article.properties-attr article{
    
    width: 100px;
    float: left;
    margin-top: 15px;
    
}

article.properties-attr article:nth-child(2){

    clear: left;    
    
}

article.properties-attr article:nth-child(even){
    
    margin-left: 20px;
    margin-right: 15px;
    
}

.properties-attr span{
    
    width: 70px;
    height: 16px;
    float: left;
    position: relative;
    left: 0px;
    
}

.properties-attr figure{
    
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    display: block;
    
}

.properties-attr figure.yes{
    
    background: url("@static/tick.png") no-repeat;
    background-size: 16px 16px;
    
}

.properties-attr figure.no{

    background: url("@static/cross.png") no-repeat;
    background-size: 16px 16px;
    
}
