*{
  font-family: Lato !important;
	font-size: 13px;
}

.wz-view-minimize, .wz-view-maximize, .wz-view-close{
  float: left;  
}

.window-buttons{
	float:right;
}

.wz-view{
    
    background: #FFF;
    
}

.wz-ui-header{
    
    width: 280px;
    height: 23px;
    padding: 9px 20px 7px 20px;
    
}

.wz-ui-header span{
    
    float: left;
    margin-top: 6px;
    font-size: 15px;
    color: #646464;
    
}

.properties-selector{
	height: 29px;
	border-bottom: 1px solid #dcdcdc;
	background-color: #ececec;
}

.properties-button,.historic-button{
	float:left;
	width: 160px;
	padding-top: 10px;
}

.properties-button div,.historic-button div{
  /*display: inline-block;*/
  text-align: center;
  width: 160px;
  font-size: 13px;
	height: 19px;
}

.properties-button.active,.historic-button.active{
	background-color: white;
	border-bottom: 2px solid #7ebe30;
}

.properties{
  width: 320px;
  height: 630px;
  /*padding: 0px 10px 0px 10px;*/ 
}

.properties article{
  width: 245px;
  margin-bottom: 10px;
  float: left; 
}

.basic-properties{
	height: 29px;
	background-color: #f6f6f6;
	border-bottom: 1px solid #dcdcdc;
}

.file-name{
	float:left;
	width: 259px;
	padding: 10px 0px 7px 10px;
	border-right: 1px solid #dcdcdc;
}

.file-extension{
	float:left;
	width: 50px;
	text-align: center;
	padding-top: 10px;
	
}

.file-extension div{
	font-size: 11px;
}

.preview-size{
	height: 79px;
	border-bottom:1px solid #dcdcdc;
}

.preview{
	float:left;
	width:185px;
	padding:10px 0px 0px 10px;
}

.preview-text{
	font-size: 11px;
	margin: 2px 0px 2px 0px;
}

.size{
	width:124px;
	border-left: 1px solid #dcdcdc;
	float:right;
	text-align: center;
	padding: 30px 0px 28px 0px;
  font-size: 23px;
}

.file-location{
	height: 34px;
  border-bottom: 1px solid #dcdcdc;
  padding: 10px 0px 0px 10px;
	background-color: #f6f6f6;
}

.file-location div, .created-modified div, .file-permissions div{
	font-size: 11px;
}
.location{
  padding-top: 5px;	
}

.created-modified{
	height: 44px;
  border-bottom: 1px solid #dcdcdc;
}

.created{
	width:149px;
	border-right: 1px solid #dcdcdc;
	padding: 7px 0px 8px 10px;
	float: left;
}

.modified{
	padding: 7px 0px 8px 10px;
	width: 150px;
	float: left;
}

.created-date, .modified-date{
	padding-top: 9px;
}

.file-permissions{
	background-color: #f6f6f6;
  height: 84px;
  border-bottom: 1px solid #dcdcdc;
  padding: 10px 0px 0px 10px;
}

.permissions{
	height: 55px;
	margin: 10px 10px 0px 0px;
}

.column1, .column2, .column3{
	width:90px;
	height: 55px;
	float: left;
}

.column1, .column2{
	padding-right: 15px;
}

.permission{
	width:90px;
	height: 20px;
}

.users-permissions{
	background-color: #f6f6f6;
	height: 164px;
  border-bottom: 1px solid #dcdcdc;
  padding: 10px 0px 0px 10px;
}

.users-box{
	margin: 15px 15px 15px 0px;
	height: 120px;
	background-color: white;
	border: 1px solid #dcdcdc;
}

.more-info{
	height: 110px;
	padding: 10px 0px 0px 10px;
	background-color: #f6f6f6;
}

/*.properties article:first-child{
    
    margin-bottom: 5px;
    
}

.properties span{
    
    width: 160px;
    float: left;
    font-size: 15px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
    
}

.properties span:first-child{
    
    width: 80px;
    color: #333;
    
}

.properties input{

    width: 145px;
    margin-top: -3px;
    border-radius: 3px;
    border: 1px solid #DDD; 
    font-size: 14px;
    color: #666;
    padding: 3px 5px 3px 5px;
    
}

.properties input:focus{
    border: 1px solid #50BDFF;
}

article.properties-attr{
    margin-bottom: 4px;
}

article.properties-attr article{
    
    width: 100px;
    float: left;
    margin-top: 15px;
    
}

article.properties-attr article:nth-child(2){

    clear: left;    
    
}

article.properties-attr article:nth-child(even){
    
    margin-left: 20px;
    margin-right: 15px;
    
}

.properties-attr span{
    
    width: 70px;
    height: 16px;
    float: left;
    position: relative;
    left: 0px;
    
}

.properties-attr figure{
    
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    display: block;
    
}

.properties-attr figure.yes{
    
    background: url("@static/tick.png") no-repeat;
    background-size: 16px 16px;
    
}

.properties-attr figure.no{

    background: url("@static/cross.png") no-repeat;
    background-size: 16px 16px;
    
}*/
