@border-color: #e5e9ea;

.ui-header{
  height: 34px;

  .ui-header-brand{
    padding: 10px 0 9px 16px;
  }

  .ui-minimize, .ui-maximize, .ui-close{
    margin-top: 5px;
    margin-bottom: 3px;
  }

}

.title{
  display: block;
  font-family: Lato;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #889399;
}

.file-name{
  float: left;
  width: 100%;
  height: 32px;
  padding: 16px 0;
  background-color: #fff;
  border-bottom: 1px solid @border-color;

  .icon{
    float: left;
    width: 32px;
    height: 32px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 20px 0 20px;
  }

  .name{
    float: left;
    display: block;
    font-family: Lato;
    font-size: 17px;
    color: #545f65;
    height: 17px;
    padding: 8px 0 7px 0;
    width: 213px;
    margin-right: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

.file-info{
  float: left;
  width: 100%;
  border-bottom: 1px solid @border-color;
  background: #f9f9fb;

  .size{
    float: left;
    width: 166px;
    height: 104px;
    padding: 13px 0 0 21px;

    .size-value{
      display: block;
      margin-top: 20px;
      font-family: Lato;
    	font-size: 31px;
    	font-weight: bold;
    	text-transform: uppercase;
    	color: #545f65;
    }

  }

  .divisor{
    float: left;
    margin: 14px 0;
    width: 1px;
    height: 89px;
    background: @border-color;
  }

  .metadata{
    float: left;
    width: 171px;
    height: 104px;
    padding: 13px 0 0 16px;

    .metadata-type, .metadata-special{
      display: block;
      margin: 10px 0 16px;
      font-family: Lato;
    	font-size: 15px;
    	color: #545f65;
    }

  }

}

.file-path{
  float: left;
  width: 100%;
  height: 60px;
  padding: 16px 0;
  background-color: #fff;
  border-bottom: 1px solid @border-color;

  .title{
    margin-left: 21px;
  }

  /*.path{
    width: 100%;
    box-sizing: border-box;
    padding: 22px 20px 0;

    span{
      font-family: Lato;
    	font-size: 15px;
    	color: #545f65;
    }

    i{
      margin: 0 10px;
      display: inline-block;
      width: 5px;
      height: 9px;
      background-image: url(@static/img/properties/sprite.png);
      background-size: 58px 22px;
      background-repeat: no-repeat;
      background-position: -31px 0;
      opacity: 0.8;
    }

  }*/

  .folder-breadcrumbs{
    width: 100%;
    box-sizing: border-box;
    padding: 22px 20px 0;

    .entry{
      font-family: Lato;
      font-size: 15px;
      color: #545f65;
    }

    .entry + .entry{

      &:before{
        content : '';
        display: inline-block;
        margin: 0 10px;
        width: 5px;
        height: 9px;
        background-image: url(@static/img/properties/sprite.png);
        background-size: 58px 22px;
        background-repeat: no-repeat;
        background-position: -31px 0;
        opacity: 0.8;
      }

    }

  }

}

.file-date{
  float: left;
  width: 100%;
  border-bottom: 1px solid @border-color;
  background: #f9f9fb;

  .creation{
    float: left;
    width: 166px;
    height: 61px;
    padding: 13px 0 0 21px;
  }

  .divisor{
    float: left;
    margin: 14px 0;
    width: 1px;
    height: 45px;
    background: @border-color;
  }

  .modification{
    float: left;
    width: 171px;
    height: 61px;
    padding: 13px 0 0 16px;
  }

  .creation-value, .modification-value{
    display: block;
    margin: 18px 0 16px;
    font-family: Lato;
    font-size: 15px;
    color: #545f65;
  }

}

.file-permissions{
  float: left;
  width: 100%;
  height: 103px;
  padding: 16px 0 0;
  background-color: #fff;
  border-bottom: 1px solid @border-color;

  .title{
    margin-left: 21px;
  }

  .permissions{
    box-sizing: border-box;
    width: 100%;
    padding: 16px 13px 0;
  }

  .permission{
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 15px;
    float: left;
    width: 33%;

    i{
      width: 22px;
      height: 22px;
      background-image: url(@static/img/properties/sprite.png);
      background-size: 58px 22px;
      background-repeat: no-repeat;
      background-position: 0 0;
      float: left;
      margin-right: 8px;
    }

    &.active i{
      background-position: -36px 0;
    }

    span{
      font-family: Lato;
    	font-size: 15px;
    	color: #545f65;
      line-height: 21px;
    }

  }

}

.file-shared{
  float: left;
  width: 100%;
  padding: 16px 0;
  background-color: #f9f9fb;

  .title{
    margin-left: 21px;
  }

  .list{
    float: left;
    margin: 18px 0 0;
    padding: 0 23px 0 20px;
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    max-height: 125px;
  }

  .user{
    display: flex;
    align-items: center;
    float: left;
    height: 35px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;

    &:last-child{
      margin-bottom: 0px;
    }

    img{
      width: 35px;
      height: 35px;
      border-radius: 18px;
      margin-right: 14px;
    }

    .name{
      font-family: Lato;
    	font-size: 15px;
    	color: #545f65;
    }

    .rol{
      position: absolute;
      right: 0px;
      font-family: Lato;
	    font-size: 13px;
	    color: #889399;
    }

  }

}
