.users-area .covert{
  display: none;
}

.ui-header{
  height: 34px;

  .ui-header-brand{
    padding: 10px 0 9px 16px;
  }

  .ui-minimize, .ui-maximize, .ui-close{
    margin-top: 5px;
    margin-bottom: 3px;
  }

}

.left-column{
  width: 399px;
  height: 512px;
  border-right: 1px solid #ccd3d5;
  background: #f9f9fb;
  float: left;
}

.file-name{
  float: left;
  width: 100%;
  height: 32px;
  padding: 16px 0;
  background-color: #fff;
  border-bottom: 1px solid #ccd3d5;

  .icon{
    float: left;
    width: 32px;
    height: 32px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 20px 0 20px;
    background-color: #f00;
  }

  .name{
    float: left;
    display: block;
    font-family: Lato;
    font-size: 17px;
    color: #545f65;
    height: 17px;
    padding: 8px 0 7px 0;
    width: 213px;
    margin-right: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

.users-area{
  padding: 20px 13px;
  float: left;
  box-sizing: border-box;
  width: 100%;
  height: 447px;

  .title{
    margin: 10px 7px 0;
    font-family: Lato;
    font-size: 15px;
    font-weight: bold;
    color: #545f65;
  }

  .search{
    margin: 15px 7px 0;
    padding: 0 13px 0px 47px;
    height: 46px;
    border-radius: 6px;
    background-color: #fff;
    border: solid 2px #c0c6ca;
    font-family: Lato;
    font-size: 19px;
    color: #545f65;
    line-height: 48px;
    width: ~'calc( 100% - 14px )';
    box-sizing: border-box;
    background: url('@static/img/share/search.png') no-repeat;
    background-size: 20px 20px;
    background-position: 14px 11px;

    &:focus{
      border: solid 2px #60b25e;
    }

  }

  .users-list{
    float: left;
    margin-top: 10px;

    .user{
      float: left;
      margin: 18px 7px 0;
      width: 110px;
      text-align: center;

      .avatar{
        width: 58px;
        height: 58px;
        border-radius: 29px;
        background: #f00;
        display: inline-block;
      }

      .name{
        text-align: center;
        margin-top: 8px;
        font-family: Lato;
        font-size: 15px;
        font-weight: bold;
        color: #545f65;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }

  }

}

.right-column{
  width: 365px;
  height: 512px;
  float: left;
}

.shared-area{

  margin: 18px 10px 18px;
  border-bottom: 1px solid #ccd3d5;
  height: 212px;
  width: 345px;

  .title{
    font-family: Lato;
    font-size: 17px;
    font-weight: bold;
    color: #545f65;
    margin-left: 10px;
  }

  .users-list{
    float: left;
    height: 195px;
    box-sizing: border-box;

    .user{
      float: left;
      margin: 18px 2px 0;
      width: 110px;
      text-align: center;

      .avatar{
        width: 46px;
        height: 46px;
        border-radius: 23px;
        background: #f00;
        display: inline-block;
      }

      .name{
        text-align: center;
        margin-top: 8px;
        font-family: Lato;
        font-size: 13px;
        font-weight: bold;
        color: #545f65;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }

  }

}

.global-permissions{

  .title{
    font-family: Lato;
    font-size: 17px;
    font-weight: bold;
    color: #545f65;
    margin-left: 21px;
  }

  .permissions-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;

    .permission{
      margin-top: 18px;
      width: 110px;
      text-align: center;

      .icon{
        background: url('@static/img/share/sprite.png');
        background-size: 635px 46px;
        width: 46px;
        height: 46px;
        border-radius: 23px;
        display: inline-block;
      }

      &.link .icon{
        background-position:  -72px 0;
      }

      &.link.active .icon{
        background-position: -119px 0;
      }

      &.modify .icon{
        background-position: -166px 0;
      }

      &.modify.active .icon{
        background-position: -213px 0;
      }

      &.copy .icon{
        background-position: -542px 0;
      }

      &.copy.active .icon{
        background-position: -589px 0;
      }

      &.download .icon{
        background-position: -354px 0;
      }

      &.download.active .icon{
        background-position: -401px 0;
      }

      &.share .icon{
        background-position: -495px 0;
      }

      &.share.active .icon{
        background-position: -448px 0;
      }

      &.send .icon{
        background-position: -260px 0;
      }

      &.send.active .icon{
        background-position: -307px 0;
      }

      .name{
        text-align: center;
        margin-top: 8px;
        font-family: Lato;
        font-size: 13px;
        font-weight: bold;
        color: #545f65;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }

  }

  .save{
    margin: 16px 14px 0 0;
    float: right;
    padding: 11px 20px;
    border-radius: 18px;
    background-color: #60b25e;
    font-family: Lato;
    height: 15px;
    font-size: 15px;
    color: #feffff;
  }
}
