/* COLORS */
@colorMain: #7ebe30;

@grayHorbito: #51575f;
@grayHorbitoHover: #474d54;
@grayHorbitoActive: #42464d;
@grayHorbitoDisabled: #c3c9cc;

@greenHorbito: #60b25e;
@greenHorbitoHover: #4ea34b;
@greenHorbitoActive: #3d903b;
@greenHorbitoDisabled: #c3c9cc;

@blueHorbito: #0071f6;
@blueHorbitoHover: #006ae6;
@blueHorbitoActive: #0062d6;
@blueHorbitoDisabled: #c3c9cc;

@redHorbito: #ff2153;
@redHorbitoHover: #f81d4e;
@redHorbitoActive: #e51846;
@redHorbitoDisabled: #c3c9cc;

@text-light: #9a9aa2;
@text-dark: #252525;
@border-color: #eeeeee;

.users-area .covert{
  display: none;
}

.ui-header{
  height: 34px;

  .ui-header-brand{
    padding: 10px 0 9px 16px;
  }

  .ui-minimize, .ui-maximize, .ui-close{
    margin-top: 5px;
    margin-bottom: 3px;
  }

}

.left-column{
  width: 399px;
  height: 512px;
  border-right: 1px solid @border-color;
  background: #fff;
  float: left;
}

.file-name{
  float: left;
  width: 100%;
  height: 32px;
  padding: 16px 0;
  background-color: #fff;
  border-bottom: 1px solid @border-color;

  .icon{
    float: left;
    width: 32px;
    height: 32px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 20px 0 20px;
    background-size: 32px 32px;
  }

  .name{
    float: left;
    display: block;
    font-family: Lato;
    font-size: 17px;
    color: @text-dark;
    height: 17px;
    padding: 8px 0 7px 0;
    width: 213px;
    margin-right: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

.users-area{
  padding: 20px 13px;
  float: left;
  box-sizing: border-box;
  width: 100%;
  height: 447px;
  overflow-y: scroll;

  .title{
    margin: 10px 7px 0;
    font-family: Lato;
    font-size: 15px;
    font-weight: bold;
    color: @text-dark;
  }

  .search{
    margin: 15px 7px 0;
  }

  .users-list{
    float: left;
    margin-top: 10px;

    .user{
      float: left;
      margin: 18px 4px 0;
      width: 110px;
      text-align: center;

      .avatar{
        width: 58px;
        height: 58px;
        border-radius: 29px;
        display: inline-block;
      }

      .name{
        text-align: center;
        margin-top: 8px;
        font-family: Lato;
        font-size: 15px;
        font-weight: bold;
        color: @text-dark;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }

    .invite-by-mail{
      float: left;
      margin: 18px 4px 0;
      width: 110px;
      text-align: center;
      opacity: 0.7;

      .avatar{
        width: 58px;
        height: 58px;
        border-radius: 29px;
        display: inline-block;
        background-image: url('@static/inviteByMail.png');
        background-size: 58px 58px;
      }

      .name{
        text-align: center;
        margin-top: 8px;
        font-family: Lato;
        font-size: 15px;
        font-weight: bold;
        color: @text-dark;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }

    .invite-by-mail:hover{
      opacity: 1;
      transition: all ease 0.2s;
    }

  }

}

.right-column{
  width: 365px;
  height: 512px;
  float: left;
}

.shared-area{

  padding: 18px 10px 0px;
  margin-bottom: 18px;
  border-bottom: 1px solid @border-color;
  height: 212px;
  width: 345px;
  overflow-y: scroll;

  .title{
    font-family: Lato;
    font-size: 17px;
    font-weight: bold;
    color: @text-dark;
    margin-left: 10px;
  }

  .users-list{
    float: left;
    height: 195px;
    box-sizing: border-box;


    .user{
      float: left;
      margin: 18px 2px 0;
      width: 105px;
      text-align: center;

      .avatar{
        width: 46px;
        height: 46px;
        border-radius: 23px;
        display: inline-block;
      }

      .name{
        text-align: center;
        margin-top: 8px;
        font-family: Lato;
        font-size: 13px;
        font-weight: bold;
        color: @text-dark;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }

  }

}

.global-permissions{

  .title{
    font-family: Lato;
    font-size: 17px;
    font-weight: bold;
    color: @text-dark;
    margin-left: 21px;
  }

  .permissions-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;

    .permission{
      margin-top: 18px;
      width: 110px;
      text-align: center;

      .icon{
        background: url('@static/img/share/sprite.png');
        background-size: 635px 46px;
        width: 46px;
        height: 46px;
        border-radius: 23px;
        display: inline-block;
      }

      &.link .icon{
        background-position:  -72px 0;
      }

      &.link.active .icon{
        background-position: -119px 0;
      }

      &.modify .icon{
        background-position: -166px 0;
      }

      &.modify.active .icon{
        background-position: -213px 0;
      }

      &.copy .icon{
        background-position: -542px 0;
      }

      &.copy.active .icon{
        background-position: -589px 0;
      }

      &.download .icon{
        background-position: -354px 0;
      }

      &.download.active .icon{
        background-position: -401px 0;
      }

      &.share .icon{
        background-position: -495px 0;
      }

      &.share.active .icon{
        background-position: -448px 0;
      }

      &.send .icon{
        background-position: -260px 0;
      }

      &.send.active .icon{
        background-position: -307px 0;
      }

      .name{
        text-align: center;
        margin-top: 8px;
        font-family: Lato;
        font-size: 13px;
        font-weight: bold;
        color: @text-dark;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }

  }

  .save{
    margin: 16px 14px 0 0;
    float: right;
    padding: 11px 20px;
    border-radius: 6px;
    background-color: @blueHorbito;
    font-family: Lato;
    height: 15px;
    font-size: 15px;
    color: #feffff;
  }

  .save:active{
    background-color: @blueHorbitoActive !important;
  }

  .save:hover{
    background-color: @blueHorbitoHover;
  }

}
