.wz-app{
  border-radius: 6px;
}
.ui-header-brand{
  width: 164px;
}

.ui-input-search{
  float: left;
  width: 272px;
  border-radius: 0;
  border-top: none;
  border-bottom: none;
  padding: 1px 0;
}

.ui-navbar{
  overflow-y: auto;
}

.ui-navgroup-element{

  width: 100%;

  .ui-navgroup-element-icon{
    width: 16px;
    padding: 4px 8px 7px 18px;
  }

  i{
    width: 16px;
    height: 15px;
    background: url('@static/img/sprite.png') no-repeat;
    background-size: 385px 18px;
    background-position: -300px 0;
  }

  &.active i{
    background-position: -317px 0;
  }

  &.root i{
    background-position: -174px 0;
    height: 16px;
    width: 16px;
  }

  &.root.active i{
    background-position: -191px 0;
  }

  &.images i{
    background-position: -238px 0;
    height: 13px;
    margin: 2px 0 0;
  }

  &.images.active i{
    background-position: -255px 0;
  }

  &.music i{
    background-position: -272px 0;
    height: 16px;
    width: 13px;
    margin: 0 2px 0 1px;
  }

  &.music.active i{
    background-position: -286px 0;
  }

  &.sync i{
    background-position: -334px 0;
    height: 16px;
  }

  &.sync.active i{
    background-position: -351px 0;
  }

  &.videos i{
    background-position: -208px 0;
    height: 13px;
    width: 14px;
    margin: 2px 1px 0 1px;
  }

  &.videos.active i{
    background-position: -223px 0;
  }

}

.ui-content{
  float: left;
  height: ~'calc(100% - 41px)';
  width: ~'calc(100% - 181px)';
}

.folder-tools{
  padding: 9px 9px 10px;
  height: 44px;
  width: 100%;
  box-sizing: border-box;

  &:after{
    content: '';
    height: 1px;
    width: 100%;
    background: #e5e9ea;
    display: block;
    position: relative;
    top: 34px;
  }

}

.folder-controls{
  float: left;
  width: 54px;
  margin-right: 15px;

  .button{
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background-color: #fff;
    border: solid 1px #e5e9ea;

    &.enabled{
      border-color: #ccd3d5;
    }

    &.enabled:hover{
      background-image: -webkit-linear-gradient(bottom, #fafafa, #fff);
      background-image: -moz-linear-gradient(bottom, #fafafa, #fff);
      background-image: -o-linear-gradient(bottom, #fafafa, #fff);
      background-image: -ms-linear-gradient(bottom, #fafafa, #fff);
      background-image: linear-gradient(to top, #fafafa, #fff);
    }

    i{
      background: url('@static/img/sprite.png') no-repeat;
      background-size: 385px 18px;
      width: 7px;
      height: 12px;
      display: block;
    }

  }

  .back{
    margin-right: 2px;

    i{
      background-position: -8px 0;
      margin: 6px 0 0 8px;
    }

    &.enabled i{
      background-position: 0 0;
    }

  }

  .forward{

    i{
      background-position: -24px 0;
      margin: 6px 0 0 10px;
    }

    &.enabled i{
      background-position: -16px 0;
    }

  }

}

.folder-breadcrumbs{
  float: left;
  width: ~'calc(100% - 204px)';
  margin-top: 4px;

  .entry{
    font-family: Lato;
    font-size: 13px;
    color: #889399;
  }

  .entry + .entry{
    margin-left: 20px;

    &:before{
      content : '';
      width: 4px;
      height: 8px;
      background: url('@static/img/sprite.png') no-repeat;
      background-size: 385px 18px;
      background-position: -66px 0;
      position: absolute;
      margin: 4px 0 0 -14px;
    }

  }

}

.folder-utils{
  float: right;
  margin-left: 15px;
  width: 120px;

  .button{
    float: right;
    width: 26px;
    height: 26px;
    /*margin: 4px;*/
    margin-left: 2px;
    border: 1px solid transparent;
    border-radius: 3px;
    display:flex;
    justify-content:center;
    align-items:center;

    &:hover{
      background-color: #fff;
      box-shadow: 0 1px rgba(0, 0, 0, 0.05);
      border: solid 1px #c2cacd;
    }

    &:active{
      border-radius: 3px;
      background-color: #fff;
      border: solid 1px #c2cacd;
      background-image: -webkit-linear-gradient(top, #dfe3e6, #ecf0f3);
      background-image: -moz-linear-gradient(top, #dfe3e6, #ecf0f3);
      background-image: -o-linear-gradient(top, #dfe3e6, #ecf0f3);
      background-image: -ms-linear-gradient(top, #dfe3e6, #ecf0f3);
      background-image: linear-gradient(to bottom, #dfe3e6, #ecf0f3);
      box-shadow: none;
    }

  }

  .button i{
    background: url('@static/img/sprite.png') no-repeat;
    background-size: 385px 18px;
    display: block;
  }

  .upload i{
    background-position: -76px 0;
    width: 21px;
    height: 15px;
  }

  .upload:hover i{
    background-position: -76px 0;
  }

  .download i{
    background-position: -98px 0;
    width: 21px;
    height: 15px;
  }

  .create-folder i{
    background-position: -120px 0;
    width: 19px;
    height: 16px;
  }

  .delete i{
    background-position: -140px 0;
    width: 15px;
    height: 18px;
  }

}

.item-area{
  height: ~'calc(100% - 44px)';
  width: 100%;
  float: left;
}

.uploading-area{
  -webkit-transition: bottom 0.25s ease;
  -moz-transition: bottom 0.25s ease;
  -ms-transition: bottom 0.25s ease;
  -o-transition: bottom 0.25s ease;
  transition: bottom 0.25s ease;
  float: left;
  height: 57px;
  width: 100%;
  bottom: 0;
  background-color: #f7f8fa;
  border-top: 1px solid #ccd3d5;
  position: relative;
  padding: 12px 21px;
  box-sizing: border-box;

  .status{

    height: 18px;

    i{
      display: inline-block;
      width: 18px;
      height: 18px;
      -webkit-transition: background 0.25s ease;
      -moz-transition: background 0.25s ease;
      -ms-transition: background 0.25s ease;
      -o-transition: background 0.25s ease;
      transition: background 0.25s ease;
      background: transparent;
      margin-right: 6px;
    }

  }

  .status-number{
    font-family: Lato;
	  font-size: 13px;
    color: #545f65;
    vertical-align: text-top;
  }

  .status-time{
    font-family: Lato;
	  font-size: 13px;
    color: #889399;
    vertical-align: text-top;
  }

  .progress{

    margin-top: 8px;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: #d5dadd;

    .current{
      -webkit-transition: width 0.15s ease;
      -moz-transition: width 0.15s ease;
      -ms-transition: width 0.15s ease;
      -o-transition: width 0.15s ease;
      transition: width 0.15s ease;
      width: 0%;
      height: 5px;
      border-radius: 3px;
      background-color: #60b25e;
      /* Prevent visual artifacts */
      min-width: 0;
      max-width: 100%;
    }

  }

}

.wz-view.uploading .uploading-area{
  bottom: 57px;
}

.wz-view.uploading .uploading-area .status i{
  background: url(@static/img/uploading.gif);
  background-size: 18px 18px;
}

.rename{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-family: Lato;
  font-size: 13px;
  color: #242f35;
  width: 106px;
  padding: 2px;
  border-radius: 0 0 3px 3px;
  border: 1px solid #60b25e;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px #60b25e inset;
  height: 40px;
  line-height: 17px;

  &.active{
    display: block;
  }

}

.ui-confirm{
  display: none;
}

.wz-view.selectSource, .wz-iew.selectDestiny{

  .ui-header{
    height: 30px;
  }

  .ui-header-brand{
    padding: 8px 0 7px 16px;
    width: auto;
  }

  .ui-input-search, .ui-header-buttons{
    display: none;
  }

  .ui-navbar, .ui-content{
    height: ~'calc(100% - 72px)';
    background: #f9f9fb;
    border-right: 1px solid #dbe0e2;
   }

  .ui-confirm{
    display: block;
    float: left;
    text-align: right;
    position: relative;
    height: 40px;
    width: 100%;
    border-top: 1px solid #ccd3d5;
    background: #e9ecef;
    padding: 5px 12px 6px;
    box-sizing: border-box;

    .ui-input{
      display: none;
    }

    .ui-btn{
      float: right;
      margin-top: 1px;
      margin-left: 10px;
    }
  }

}

.wz-view.selectSource.directory, .wz-view.selectDestiny{

  .folder-utils{

    .upload, .download{
      display: none;
    }

  }

}

.wz-view.selectDestiny{

  .ui-confirm{
    .ui-input{
      display: block;
      float: right;
      width: ~'calc( 100% - 208px )';
    }
  }

}
/*
.item-area{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &:after {
    content: '';
    flex: auto;
  }

}

.item{
  width: 106px;
  margin: 16px 10px 0;

  .icon{
    float: left;
    height: 80px;
    width: 104px;
    border-radius: 3px 3px 0 0;
    border: solid 1px transparent;
    border-bottom: none;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  &.active .icon{
    background-color: rgba(136,147,153,.1);
    border-color: #ccd3d5;
  }

  .icon img{
    max-width: 64px;
    max-height: 64px;
  }

  .name{
    text-align: center;
    font-family: Lato;
    font-size: 13px;
    color: #545f65;
    width: 106px;
    padding: 3px 4px;
    display: inline-block;
    border-radius: 0 0 3px 3px;
    box-sizing: border-box;
  }

  &.active .name{
    color: #fff;
    background-color: #60b25e;
  }

}
*/
