.wz-win.sidebar{
    width: 686px; /*!important*/
}

.wz-win.sidebar .weexplorer-sidebar{
    display: block;
}

textarea{
    overflow: hidden;
    border: 1px solid #50BDFF;
}

textarea[readonly]{
    border: 1px solid transparent;
    cursor: default;
}

.weexplorer-navigate{
    padding: 13px 18px 9px;
}

.weexplorer-option-back{
    padding-right: 8px;
}

.weexplorer-option-back i{

    width: 12px;
    height: 14px;
    float: left;

    background: url('https://static.weezeel.com/app/1/arrows.png') -24px 0;
    background-size: 48px 15px;
        
}

.weexplorer-option-back:hover{
    border: 1px solid transparent;
}

.weexplorer-option-back.active i{
    
    background: url('https://static.weezeel.com/app/1/arrows.png') 0 0;
    background-size: 48px 15px;
    
}

.weexplorer-option-back.active:hover{
    border: 1px solid #999;    
}

.weexplorer-option-next{
    padding-left: 8px;
}

.weexplorer-option-next i{

    width: 12px;
    height: 14px;
    float: left;

    background: url('https://static.weezeel.com/app/1/arrows.png') -36px 0; 
    background-size: 48px 15px;
        
}

.weexplorer-option-next:hover{
    border: 1px solid transparent;
}

.weexplorer-option-next.active i{
    
    background: url('https://static.weezeel.com/app/1/arrows.png') -12px 0; 
    background-size: 48px 15px;
    
}

.weexplorer-option-next.active:hover{
    border: 1px solid #999;    
}

.wz-win-menu{
    width: 686px;
}

.weexplorer-menu{
    
    width: 270px;
    float: left;
    padding: 13px 23px 7px;
    
}

.wz-win.sidebar .weexplorer-menu{
    width: 406px;
}

.weexplorer-menu-views i{
    
    width: 22px;
    height: 15px;
    float: left;
    
}

.weexplorer-menu-views.grid i{

    background: url('https://static.weezeel.com/app/1/sprite.png') 0 0;
    background-size: 115px 16px; 
    
}

.weexplorer-menu-views.list i{

    background: url('https://static.weezeel.com/app/1/sprite.png') -93px 0;
    background-size: 115px 16px; 
    
}

.weexplorer-menu-display{
    
    width: 7px;
    height: 5px;
    float: left;
    margin-left: 5px;
    margin-top: 6px;

    background: url('https://static.weezeel.com/app/1/sprite.png') -80px -11px;
    background-size: 115px 16px; 
    
}

.weexplorer-menu-sort span{
    
    max-width: 107px;
    height: 14px;
    overflow: hidden;
    font-size: 12px;
    color: #818181;
    
    float: left;
    
}

.weexplorer-menu-download:hover{
    border: 1px solid transparent;
}

.weexplorer-menu-download.active:hover{
    border: 1px solid #999;
}

.weexplorer-menu-download i{
    
    width: 22px;
    height: 16px;
    float: left;

    background: url('https://static.weezeel.com/app/1/download_inactive.png') no-repeat;
    background-size: 22px 16px;
    
}

.weexplorer-menu-download.active i{

    background: url('https://static.weezeel.com/app/1/sprite.png') -22px 0;
    background-size: 115px 16px; 
    
}

.weexplorer-menu-upload i{
    
    width: 22px;
    height: 16px;
    float: left;

    background: url('https://static.weezeel.com/app/1/sprite.png') -44px 0;
    background-size: 115px 16px; 
    
}

.weexplorer-menu-toggle i{
    
    width: 15px;
    height: 15px;
    float: right;

    background: url('https://static.weezeel.com/app/1/sidebar_toggle.png') 0 0;
    background-size: 30px 15px; 
    
}

.wz-win.sidebar .weexplorer-menu-toggle i{
    
    width: 15px;
    height: 15px;
    float: right;

    background: url('https://static.weezeel.com/app/1/sidebar_toggle.png') -15px 0;
    background-size: 30px 15px; 
    
}

.weexplorer-main{
    width: 546px;
    height: 550px;
    float: left;;
}

.weexplorer-folder{
    
    width: 546px;
    height: 50px;
    position: absolute;
    padding-top: 20px;
    text-align: center;
    z-index: 1;
    
    background-image: -moz-linear-gradient(50% 0% -90deg,rgba(255,255,255,1) 65%,rgba(255,255,255,0) 100%); 
    background-image: -webkit-linear-gradient(-90deg,rgba(255,255,255,1) 65%,rgba(255,255,255,0) 100%);
    background-image: -o-linear-gradient(-90deg,rgba(255,255,255,1) 65%,rgba(255,255,255,0) 100%);
    background-image: linear-gradient(0deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 35%);
    
}

.weexplorer-folder-icon{
    
    width: 13px;
    height: 11px;
    display: inline-block;

    background: url('https://static.weezeel.com/app/1/sprite.png') -80px 0;
    background-size: 115px 16px; 
    
}


.weexplorer-folder-name{
    
    font-size: 14px;
    color: #545454;
    margin-left: 6px;
    
}

img{
    
    vertical-align: middle;
    
}

.weexplorer-file-zone{
    
    width: 522px;
    height: 490px;
    float: left;
    padding: 60px 12px 0 12px;
    text-align: center;
    
}

.grid .weexplorer-file{
    
    width: 150px;
    height: 185px;
    position: relative;
    margin: 0 12px 15px 12px;
    display: inline-block;
    
}

.grid figure{
    
    width: 148px;
    height: 148px;
    border: solid 1px transparent;
    line-height: 150px;
    text-align: center;
    
}

.grid textarea{
    
    font-size: 14px;
    color: #585858;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    text-align: center;
    
}

.grid span{
    
    display: none;
    
}

.weexplorer-file-zone.list{
    padding: 60px 15px 0px;
}

.list .weexplorer-file{
    
    width: 100%;
    height: 30px;
    position: relative;
    border: solid 1px #fff;
    float: left;
    
}

.list figure{
    
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 15px;
    margin-top: 2px;
    line-height: 25px;
    text-align: center;
    
}

.list textarea{
    
    font-size: 14px;
    color: #585858;
    width: 205px;
    height: 15px;
    float: left;
    margin-top: 7px;
    margin-left: 15px;
    
}

.list textarea[readonly]{
    background:transparent;
}

.list span{
    
    font-size: 12px;
    color: #ABABAB;
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    text-align: right;
    
}

.list img{
    max-width: 25px;
    max-height: 25px;
    vertical-align: middle;
}

.grid .last-active figure{

    border: solid 1px rgba(127,191,235,0.5);
    border-radius: 3px;
    
}

.grid .last-active.hidden figure{

    border: solid 1px transparent;
    
}

.grid .last-active figure:hover{

    background: #eefaff;
    border: solid 1px #7fbfeb;
    border-radius: 3px;
    
}

.grid .active figure{

    background: #ceecff;
    border: solid 1px #7fbfeb;
    border-radius: 3px;
    
}

.grid figure:hover{
    
    background: #eefaff;
    border: solid 1px #7fbfeb;
    border-radius: 3px;
    
}

.grid .active figure:hover{

    background: #ceecff;
    border: solid 1px #7fbfeb;
    border-radius: 3px;
    
}

.grid img{
    max-width: 128px;
    max-height: 128px;
    vertical-align: middle;
}

.list .weexplorer-file.last-active{

    border: solid 1px rgba(127,191,235,0.5);
    border-radius: 3px;
    
}

.list .weexplorer-file.last-active.hidden{

    border: solid 1px transparent;
    
}

.list .weexplorer-file.last-active:hover{

    background: #eefaff;
    border: solid 1px #7fbfeb;
    border-radius: 3px;
    
}

.list .weexplorer-file:hover{

    background: #eefaff;
    border: solid 1px #7fbfeb;
    border-radius: 3px;
    
}

.list .weexplorer-file.active:hover{

    background: #ceecff;
    border: solid 1px #7fbfeb;
    border-radius: 3px;
    
}

.list .weexplorer-file.active{

    background: #ceecff;
    border: solid 1px #7fbfeb;
    border-radius: 3px;
    
}

.list .weexplorer-file-date-modification{
    width: 114px;
}

.grid .weexplorer-file-shared{
    width: 32px;
    height: 32px;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    background: #323232 !important;
    border-radius: 3px;
    border: 1px solid #232323 !important;
    line-height: normal;
    display: none;
}

.grid .shared .weexplorer-file-shared{
    display: block;
}

.grid .weexplorer-file-shared:hover{
    background: #323232 !important;
    border: 1px solid #232323 !important;
}

.grid .weexplorer-file-shared i{
    width: 22px;
    height: 22px;
    margin-top: 4px;
    display: inline-block;
    background: url('https://static.weezeel.com/app/1/shared.png');
    background-size: 22px 22px;
}

.list .weexplorer-file-shared{
    width: 11px;
    height: 11px;
    position: absolute;
    float: none;
    line-height: normal;
    margin: 0;
    top: 0;
    left: 33px;
    background: #88D120 !important;
    border: 1px solid #6DA71A;
    border-radius: 3px;
    display: none;
}

.list .shared .weexplorer-file-shared{
    display: block;
}

.list .weexplorer-file-shared i{
    display: none;
}

.weexplorer-sidebar{
    
    width: 0px;
    height: 550px;
    float: left;
    
    background: #EBEBEB;
    border-left: solid 1px #D8D8D8;

    display: none;
    
}

.wz-win.sidebar .weexplorer-sidebar{
    
    width: 139px;
    
}

.weexplorer-sidebar-title{
        
    width: 115px;
    float: left;
    padding: 20px 12px;

}

.weexplorer-sidebar-icon{
    
    width: 13px;
    height: 13px;
    float: left;
    background: url('https://static.weezeel.com/app/1/sidebar.png');
    background-size: 87px 39px;
    
}

.weexplorer-sidebar-icon .title{
    
    background-position: 0 0;
    
}

.weexplorer-sidebar-title-name{
    
    width: 86px;
    height: 15px;
    float: left;
    margin-left: 10px;
    font-size: 14px;
    color: #505050;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.weexplorer-sidebar-element{
    
    width: 113px;
    float: left;
    height: 13px;
    padding: 10px 12px;
    border: 1px solid transparent;
    
}

.weexplorer-sidebar-element-over{
    
    border: 1px solid #7FBFEB;
    background: #CEECFF;
    
}

.weexplorer-sidebar-element-name{
    
    font-size: 12px;
    color: #505050;
    
    width: 92px;
    height: 15px;
    float: left;
    margin-left: 8px;
    margin-top: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.weexplorer-sidebar-element:hover .weexplorer-sidebar-element-name{
    
    color: #000;
    
}

.weexplorer-sidebar-element.active .weexplorer-sidebar-element-name{
    
    color: #108EE5;
    
}

.weexplorer-sidebar-notification{
    
    display: none;
    float: right;
    color: #FFF;
    background: #B22F27;
    font-size: 13px;
    padding: 2px 5px;
    margin-top: -2px;
    margin-right: -2px;
    border-radius: 2px;
}


.weexplorer-sidebar-element.notification .weexplorer-sidebar-notification{

    display: block;
    
}

.weexplorer-sidebar-element.notification .weexplorer-sidebar-element-name{
    
    width: 63px;
    
}

.weexplorer-file-uploading figure{
    
    opacity: 0.5;
    
}   

.weexplorer-file-uploading textarea{
    
    opacity: 0.5;
    
}

.weexplorer-directory-over{
    
    background: #ceecff;
    border-radius: 3px;
    
}

.weexplorer-sidebar-icon.user{
    
    background-position: -13px 0;
    
}

.weexplorer-sidebar-element:hover .weexplorer-sidebar-icon.user{
    
    background-position: -13px -13px;
    
}

.weexplorer-sidebar-element.active .weexplorer-sidebar-icon.user{
    
    background-position: -13px -26px;
    
}

.weexplorer-sidebar-icon.folder{
    
    background-position: -26px 0;
    
}

.weexplorer-sidebar-element:hover .weexplorer-sidebar-icon.folder{
    
    background-position: -26px -13px;
    
}

.weexplorer-sidebar-element.active .weexplorer-sidebar-icon.folder{
    
    background-position: -26px -26px;
    
}

.weexplorer-sidebar-icon.music{
    
    width: 8px;
    margin-left: 3px;
    margin-right: 2px;
    background-position: -39px 0;
    
}

.weexplorer-sidebar-element:hover .weexplorer-sidebar-icon.music{
    
    background-position: -39px -13px;
    
}

.weexplorer-sidebar-element.active .weexplorer-sidebar-icon.music{
    
    background-position: -39px -26px;
    
}

.weexplorer-sidebar-icon.photo{
    
    background-position: -74px 0;
    
}

.weexplorer-sidebar-element:hover .weexplorer-sidebar-icon.photo{
    
    background-position: -74px -13px;
    
}

.weexplorer-sidebar-element.active .weexplorer-sidebar-icon.photo{
    
    background-position: -74px -26px;
    
}

.weexplorer-sidebar-icon.video{
    
    width: 16px;
    margin-left: -2px;
    margin-right: -1px;
    background-position: -47px 0;
    
}

.weexplorer-sidebar-element:hover .weexplorer-sidebar-icon.video{

    background-position: -47px -13px;
    
}

.weexplorer-sidebar-element.active .weexplorer-sidebar-icon.video{

    background-position: -47px -26px;
    
}

.weexplorer-sidebar-icon.doc{
    
    width: 11px;
    margin-left: 1px;
    margin-right: 1px;
    background-position: -63px 0;
    
}

.weexplorer-sidebar-element:hover .weexplorer-sidebar-icon.doc{

    background-position: -63px -13px;
    
}

.weexplorer-sidebar-element.active .weexplorer-sidebar-icon.doc{

    background-position: -63px -26px;
    
}

.weexplorer-uploading{
    width: 100%;
    height: 0px;
    background-image: -moz-linear-gradient(50% 0% -90deg,rgb(78,78,78) 0%,rgb(50,50,50) 100%); 
    background-image: -webkit-linear-gradient(-90deg,rgb(78,78,78) 0%,rgb(50,50,50) 100%);
    background-image: -o-linear-gradient(-90deg,rgb(78,78,78) 0%,rgb(50,50,50) 100%);
    background-image: linear-gradient(0deg,rgb(50,50,50) 0%,rgb(78,78,78) 100%);
    position: absolute;
    bottom: 0px;
    overflow: hidden;
}

.weexplorer-uploading-bar{
    width: 0%;
    height: 5px;
    background: #1FB3FF;
}

.weexplorer-uploading-info{
    height: 15px;
    margin: 5px auto auto;
    text-align: center;
}

.weexplorer-uploading-info figure{
    width: 11px;
    height: 13px;
    background: url('https://static.weezeel.com/app/1/uploading.png');
    background-size: 11px 13px;
    margin-bottom: -2px;
    display: inline-block;
}

.weexplorer-uploading-info p{
    margin-left: 8px;
    font-size: 13px;
    color: #C0C0C0;
    display: inline-block;
}

.uploaded-percent{
    margin-left: 8px;
}

.weexplorer-progress-bar{
    width: 0;
    height: 5px;
    margin-top: -5px;
    background: #1FB3FF;
}

.weexplorer-conversion-bar{
    width: 75%;
    height: 5px;
    margin-top: -5px;
    background: #A43737;
}

.weexplorer-sort{
    position: absolute;
    top: 35px;
    left: 123px;
    list-style: none;
    display: none;
    z-index: 1;
}

.weexplorer-sort.show{
    display: block;
}

.weexplorer-sort:before{
    
    position: relative;
    top: 2px;
    left: 75px;
    float: left;
    width: 16px;
    height: 7px;
    background: url('https://static.weezeel.com/app/1/sort.png') no-repeat;
    background-size: 15px 6px;
    content: '';
    
}

.weexplorer-sort li:first-child{
    
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: inset 0px 1px 0px 0px #4D4D4D;
    
}

.weexplorer-sort li{
    
    overflow: hidden; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    padding: 10px 15px 0px 10px;
    width: 100%;
    height: 29px;
    background: #404040;
    color: #E0E0E0;
    text-overflow: ellipsis;
    font-size: 15px;
    line-height: 10px;
    
}

.weexplorer-sort li:last-child{
    
    height: 30px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: inset 0px -1px 0px 0px #4D4D4D;
    
}

.weexplorer-sort li:hover{
    background: #535353;
}

.weexplorer-sort i{
    width: 10px;
    height: 7px;
    float: left;
    display: block;
    margin-top: 2px;
}

.weexplorer-sort li.active i{
    background: url('https://static.weezeel.com/app/1/active.png') no-repeat;
    background-size: 10px 7px;
}

.weexplorer-sort span{
    float: left;
    margin-left: 8px;
}

.weexplorer-sort li.active span{
    color: #34A7FF;
}

.list .weexplorer-file:last-child{
    margin-bottom: 15px;
}

.weexplorer-navigation{
    min-width: 62px;
    position: absolute;
    top: 35px;
    left: 10px;
    list-style: none;
    display: none;
    z-index: 1;
}

.weexplorer-navigation.show{
    display: block;
}

.weexplorer-navigation:before{
    
    position: relative;
    top: 2px;
    left: 14px;
    float: left;
    width: 16px;
    height: 7px;
    background: url('https://static.weezeel.com/app/1/sort.png') no-repeat;
    background-size: 15px 6px;
    content: '';
    
}

.weexplorer-navigation.next:before{   
    left: 40px;
}

.weexplorer-navigation li:nth-child(2){
    
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: inset 0px 1px 0px 0px #4D4D4D;
    
}

.weexplorer-navigation li{
    
    overflow: hidden; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    padding: 10px 15px 0px 10px;
    width: 100%;
    height: 29px;
    background: #404040;
    color: #E0E0E0;
    text-overflow: ellipsis;
    font-size: 15px;
    line-height: 10px;
    
}

.weexplorer-navigation li:last-child{
    
    height: 30px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: inset 0px -1px 0px 0px #4D4D4D;
    
}

.weexplorer-navigation li:hover{
    background: #535353;
}

.weexplorer-navigation span{
    float: left;
    margin-left: 8px;
}
