
.ui-header-brand{
  width: 164px;
}

.ui-input-search{
  float: left;
  width: 272px;
  border-radius: 0;
  border-top: none;
  border-bottom: none;
  padding: 1px 0;
}

.ui-content{
  float: left;
  height: ~'calc(100% - 41px)';
  width: ~'calc(100% - 181px)';
}

.folder-tools{
  padding: 9px 9px 10px;
  height: 44px;
  width: 100%;
  box-sizing: border-box;

  &:after{
    content: '';
    height: 1px;
    width: 100%;
    background: #ccd3d5;
    display: block;
    position: relative;
    top: 34px;
  }

}

.folder-controls{
  float: left;
  width: 54px;
  margin-right: 15px;

  .button{
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background-color: #fff;
    border: solid 1px #ccd3d5;

    &:hover{
      background-image: -webkit-linear-gradient(bottom, #fafafa, #fff);
      background-image: -moz-linear-gradient(bottom, #fafafa, #fff);
      background-image: -o-linear-gradient(bottom, #fafafa, #fff);
      background-image: -ms-linear-gradient(bottom, #fafafa, #fff);
      background-image: linear-gradient(to top, #fafafa, #fff);
    }

    &.disabled{
      border-color: #e5e9ea;
    }

  }

  .back{
    margin-right: 2px;
  }

}

.folder-breadcrumbs{
  float: left;
  width: ~'calc(100% - 204px)';
  background: #0f0;
  margin-top: 4px;

  .entry{
    font-family: Lato;
    font-size: 13px;
    color: #889399;
    background: #ff0;
  }

  .entry + .entry{
    background: #f00;
    margin-left: 20px;

    &:before{
      content : '';
      width: 4px;
      height: 10px;
      background: #00f;
      position: absolute;
      margin: 3px 0 0 -14px;
    }

  }

}

.folder-utils{
  float: right;
  margin-left: 15px;
  width: 120px;

  .button{
    background: #f00;
    float: left;
    width: 22px;
    height: 18px;
    margin: 4px;
  }

  .upload{
    background: url('@static/img/upload_normal.png') center center no-repeat;
    background-size: 26px 20px;
  }

  .download{
    background: url('@static/img/download_normal.png') center center no-repeat;
    background-size: 26px 20px;
  }

  .create-folder{

  }

  .delete{

  }

}

.item-area{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &:after {
    content: '';
    flex: auto;
  }

}

.item{
  width: 106px;
  margin: 16px 10px 0;

  .icon{
    float: left;
    height: 80px;
    width: 104px;
    border-radius: 3px 3px 0 0;
    border: solid 1px transparent;
    border-bottom: none;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  &.active .icon{
    background-color: rgba(136,147,153,.1);
    border-color: #ccd3d5;
  }

  .icon img{
    max-width: 64px;
    max-height: 64px;
  }

  .name{
    text-align: center;
    font-family: Lato;
    font-size: 13px;
    color: #545f65;
    width: 106px;
    padding: 3px 4px;
    display: inline-block;
    border-radius: 0 0 3px 3px;
    box-sizing: border-box;
  }

  &.active .name{
    color: #fff;
    background-color: #60b25e;
  }

}
