
.wz-app-1 .weexplorer-sidebar{
    float: right;
    width: 140px;
    height: 500px;
    border-left: 1px solid #dcdcdc;
    background: #ebebeb;
    box-shadow: 0px 0px 1px rgba(230,230,230,0.35) inset;
}

.wz-app-1 .weexplorer-main{
    float: left;
    width: 403px;
    height: 500px;
}

.wz-app-1 .weexplorer-file{
    float: left;
    margin: 5px;
    width: 150px;
}

.wz-app-1 .weexplorer-file figure{
    width: 150px;
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
}

.wz-app-1 .weexplorer-file.active figure{
    width: 148px;
    height: 148px;
    border: 1px solid #97c8f1;
    border-radius: 8px;
    background-color: #f0faff;
    box-shadow: 0px 0px 1px #daeefb, 0px 0px 1px #daeefb inset;
}

.wz-app-1 .weexplorer-file textarea{
    width: 138px;
    font-size: 14px;
    height: 30px;
    padding: 2px 6px;
    text-align: center;
    margin-top: 8px;
}

.wz-app-1 .weexplorer-file textarea:focus{
    border: 1px solid #f00;
    padding: 1px 5px;
}

.wz-app-1 .weexplorer-file-area{
    float: left;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.wz-app-1 .weexplorer-option{
    background: url('https://static.weezeel.com/app/1/sprite.png') 0px 0px no-repeat;
}

.wz-app-1 .weexplorer-option-back{
    float: left;
    margin-right: 12px;
    width: 16px;
    height: 16px;
    background-position: 0px 0px;
}

.wz-app-1 .weexplorer-option-next{
    float: left;
    width: 16px;
    height: 16px;
    background-position: -12px -32px;
}

.wz-app-1 .weexplorer-option-upload{
    float: left;
    width: 22px;
    height: 16px;
    background-position: -69px 0px;
}

.wz-app-1 .weexplorer-file-type-directory figure{
    background-image: url('https://static.weezeel.com/app/1/directory.png');
}

.wz-app-1 .weexplorer-file-type-special-directory{
}

.wz-app-1 .weexplorer-file-type-file{
}

.wz-app-1 .weexplorer-file-type-temporal-file{
}
