
.wz-app-1 textarea{
	overflow: hidden;
}

.wz-app-1 .weexplorer-option-back{

	width: 12px;
	height: 15px;
	float: left;

    background: url('https://static.weezeel.com/app/1/sprite.png') 0 0; 
        
}

.wz-app-1 .weexplorer-option-back.active{
	
	background: #f00;
	
}

.wz-app-1 .weexplorer-option-next{

	width: 12px;
	height: 15px;
	float: left;
	margin-left: 18px;

    background: url('https://static.weezeel.com/app/1/sprite.png') -13px 0; 
        
}

.wz-app-1 .weexplorer-option-next.active{
	
	background: #f00;
	
}

.wz-app-1 .weexplorer-menu{
	
	width: 268px;
	float: left;
	padding: 18px 23px 15px;
	
}

.wz-app-1 .weexplorer-menu article{
	
	margin-right: 14px;
	float: left;
	
}

.wz-app-1 .weexplorer-menu-views{
	
	width: 23px;
	height: 15px;
	float: left;
	
}

.wz-app-1 .weexplorer-menu-views.grid{

    background: url('https://static.weezeel.com/app/1/sprite.png') -26px 0; 
	
}

.wz-app-1 .weexplorer-menu-views.list{

    background: url('https://static.weezeel.com/app/1/sprite.png') -125px 0; 
	
}

.wz-app-1 .weexplorer-menu-display{
	
	width: 7px;
	height: 5px;
	float: left;
	margin-left: 5px;
	margin-top: 6px;

    background: url('https://static.weezeel.com/app/1/sprite.png') -111px -11px; 
	
}

.wz-app-1 .weexplorer-menu-sort{
	
	font-size: 12px;
	color: #818181;
	
	float: left;
	
}

.wz-app-1 .weexplorer-menu-download{
	
	width: 22px;
	height: 16px;
	float: left;

    background: url('https://static.weezeel.com/app/1/sprite.png') -50px 0; 
	
}

.wz-app-1 .weexplorer-menu-upload{
	
	width: 22px;
	height: 16px;
	float: left;

    background: url('https://static.weezeel.com/app/1/sprite.png') -73px 0; 
	
}

.wz-app-1 .weexplorer-menu-find{
	
	width: 15px;
	height: 15px;
	float: right;

    background: url('https://static.weezeel.com/app/1/sprite.png') -96px 0; 
	
}

.wz-app-1 .weexplorer-folder{
	
	width: 100%;
	height: 50px;
	position: absolute;
	padding-top: 20px;
	text-align: center;
	
	background-image: -moz-linear-gradient(50% 0% -90deg,rgba(255,255,255,1) 65%,rgba(255,255,255,0) 100%); 
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0.65, rgba(255,255,255,1)),color-stop(1, rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(-90deg,rgba(255,255,255,1) 65%,rgba(255,255,255,0) 100%);
    background-image: -o-linear-gradient(-90deg,rgba(255,255,255,1) 65%,rgba(255,255,255,0) 100%);
    background-image: linear-gradient(0deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 35%);
	
}

.wz-app-1.sidebar .weexplorer-folder{
	
	width: 404px;
	
}

.wz-app-1 .weexplorer-folder-icon{
	
	width: 13px;
	height: 11px;
	display: inline-block;

    background: url('https://static.weezeel.com/app/1/sprite.png') -111px 0; 
	
}

.wz-app-1 .weexplorer-folder-name{
	
	font-size: 14px;
	color: #545454;
	
	margin-left: 6px;
	
}

.wz-app-1 img{
	
	vertical-align: middle;
	
}

.wz-app-1 .weexplorer-file-zone{
	
	width: 100%;
	height: 550px;
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 60px;
	overflow: auto;
	
}

.wz-app-1 .grid .weexplorer-file{
	
	width: 150px;
	height: 210px;
	float: left;
	margin-left: 25px;
	
}

.wz-app-1 .grid figure{
	
	width: 148px;
	height: 148px;

	border: solid 1px #fff;
	
	line-height: 150px;
	text-align: center;
	
}

.wz-app-1 .grid .active figure{

	background: #eefaff;
	border: solid 1px #7fbfeb;
	border-radius: 6px;
	
}

.wz-app-1 .grid textarea{
	
	font-size: 14px;
	color: #585858;
	
	width: 100%;
	text-align: center;
	
}

.wz-app-1 .grid span{
	
	display: none;
	
}

.wz-app-1 .list .weexplorer-file{
	
	width: 380px;
	height: 30px;
	
	border: solid 1px #fff;
	
	float: left;
	margin-left: 15px;
	
}

.wz-app-1 .list .weexplorer-file.active{

	background: #eefaff;
	border: solid 1px #7fbfeb;
	border-radius: 6px;
	
}

.wz-app-1 .list figure{
	
	width: 25px;
	height: 25px;
	float: left;
	
	line-height: 25px;
	text-align: center;
	
}

.wz-app-1 .list textarea{
	
	font-size: 14px;
	color: #585858;
	
	width: 165px;
	height: 15px;
	float: left;
	margin-top: 8px;
	margin-left: 15px;
	background:#f00;
	
}

.wz-app-1 .list textarea[readonly]{
	background:transparent;
}

.wz-app-1 .list span{
	
	font-size: 12px;
	color: #ABABAB;
	
	float: left;
	margin-top: 9px;
	text-align: right;
	
}

.wz-app-1 .list .weexplorer-file-size{
	
	width: 50px;
	
}

.wz-app-1 .list .weexplorer-file-date{
	
	width: 120px;
	
}

.wz-app-1 .grid .last-active figure{

	border: solid 1px #7fbfeb;
	border-radius: 6px;
	
}

.wz-app-1 .grid figure:hover{
	
	background: #f00;
	border: solid 1px #7fbfeb;
	border-radius: 6px;
	
}

.wz-app-1 .grid .active figure:hover{

	background: #eefaff;
	border: solid 1px #7fbfeb;
	border-radius: 6px;
	
}

.wz-app-1 .list .weexplorer-file.last-active{

	border: solid 1px #7fbfeb;
	border-radius: 6px;
	
}

.wz-app-1 .list .weexplorer-file:hover{

	background: #f00;
	border: solid 1px #7fbfeb;
	border-radius: 6px;
	
}

.wz-app-1 .list .weexplorer-file.active:hover{

	background: #eefaff;
	border: solid 1px #7fbfeb;
	border-radius: 6px;
	
}

.wz-app-1 .weexplorer-sidebar{
	
	display: none;
	
}

.wz-app-1.sidebar .weexplorer-sidebar{
	
	width: 125px;
	height: 500px;
	float: left;
	display: block;
	
	background: #EBEBEB;
	border-left: solid 1px #D8D8D8;
	
	padding-top: 20px;
	padding-left: 14px;
	
}

.wz-app-1 .weexplorer-sidebar-title{
		
	width: 115px;
	float: left;
	margin-bottom: 32px;

}

.wz-app-1 .weexplorer-sidebar-icon{
	
	width: 16px;
	height: 14px;
	float: left;
	background: url('https://static.weezeel.com/app/1/sidebar.png');
	
}

.wz-app-1 .weexplorer-sidebar-icon .title{
	
	background-position: 0 0;
	
}

.wz-app-1 .weexplorer-sidebar-title-name{
	
	font-size: 14px;
	color: #505050;
	
	float: left;
	margin-left: 10px;
	
}

.wz-app-1 .weexplorer-sidebar-element{
	
	width: 115px;
	float: left;
	margin-bottom: 15px;
	
}	

.wz-app-1 .weexplorer-sidebar-element-name{
	
	font-size: 12px;
	color: #505050;
	
	float: left;
	margin-left: 10px;
	
}

.wz-app-1 .weexplorer-file-uploading{
	
	opacity: 0.5;
	
}	

.wz-app-1 .weexplorer-sidebar-icon.user{
	
	background-position: -16px 0;
	
}

.wz-app-1 .weexplorer-sidebar-icon.folder{
	
	background-position: -32px 0;
	
}

.wz-app-1 .weexplorer-sidebar-icon.music{
	
	background-position: -48px 0;
	
}

.wz-app-1 .weexplorer-sidebar-icon.photo{
	
	background-position: -64px 0;
	
}

.wz-app-1 .weexplorer-sidebar-icon.video{
	
	background-position: -80px 0;
	
}

.wz-app-1 .weexplorer-sidebar-icon.doc{
	
	background-position: -96px 0;
	
}
