.wz-widget{
  position: absolute;
  bottom: 12px;
  right: 12px;
  max-height: 251px;
  display: none;
}

.manager *{
  font-family: Akademie;
}

.manager{
  border-radius: 12px;
  float: right;
  width: 350px;
  max-height: 251px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,.3);
  border-radius: 12px;
  position: relative;
  margin-top: 0px;
  display: none;
  transform: translateY(72px);
}

.header{

  width: 100%;
  height: 60px;
  display: inline-block;
  background-color: white;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.05), 0px 1px 0px 0px rgba(0,0,0,0.05);
  border-radius: 12px 12px 0 0;

  .left-progress{
    width: 54px;
    height: 100%;
    float: left;
    .progress-gif{
      width: 24px;
      height: 24px;
      display: inline-block;
      background-image: url('@static/img/uploading-arrow.gif');
      background-size: 24px 24px;
      left: 18px;
      top: 18px;
      position: absolute;
    }
    .done-gif{
      width: 24px;
      height: 24px;
      display: inline-block;
      background-image: url('@static/img/done.gif');
      background-size: 24px 24px;
      left: 18px;
      top: 18px;
      position: absolute;
      visibility: hidden;
    }
    svg{
      margin-left: 9px;
      margin-top: 12px;
    }
    .progress-ring__circle {
      transition: 0.35s stroke-dashoffset;
      // axis compensation
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
    }
    .total-progress{
      width: 22px;
      height: 22px;
      position: absolute;
      top: 30px;
      left: 23px;
      background-color: grey;
    }
    .progress-done{
      width: 22px;
      height: 22px;
      position: absolute;
      top: 30px;
      left: 23px;
    }
    .progress-arrow{
      width: 12px;
      height: 16px;
      display: inline-block;
    }
  }

  .left-progress:after{
    content: '';
    width: 1px;
    height: 48px;
    display: block;
    margin-top: 7px;
    background-color: #9a9aa2;
    position: absolute;
    top: 0px;
    left: 54px;
    opacity: 0.1;
  }

  .summary{
    float: right;
    height: 100%;
    width: ~'calc(100% - 54px)';
    .title{
      width: 100%;
      font-size: 17px;
      letter-spacing: 0.28pt;
      color: #252525;
      margin-top: 11px;
      display: inline-block;
      margin-left: 12px;
    }
    .number-of-files{
      font-size: 13px;
      letter-spacing: 0.28pt;
      color: #252525;
      margin-top: 7px;
      margin-left: 12px;
      display: inline-block;
    }
    .percentage{
      font-size: 13px;
      letter-spacing: 0.28pt;
      color: #9a9aa2;
      display: inline-block;
      display: none;
    }
  }

  .see-more{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 47px;
    top: 15px;
    border-radius: 50%;
    text-align: center;
    figure{
      width: 18px;
      height: 10px;
      background-image: url('@static/compress@2x.png');
      background-size: 18px 10px;
      transform: rotate(0deg);
      display: inline-block;
      margin-top: 11px;
    }
  }

  .see-more:hover{
    background-color: rgba(154,154,162,0.15);
  }

  .close-button{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 6px;
    border-radius: 50%;
    text-align: center;
    figure{
      width: 14px;
      height: 14px;
      background-image: url('@static/closeDownload@2x.png');
      background-size: 14px 14px;
      display: inline-block;
      margin-top: 8px;
    }
  }

  .close-button:hover{
    background-color: rgba(154,154,162,0.15);
  }

}

.content{
  width: 100%;
  max-height: 191px;
  /*display: inline-block;*/
  border-radius: 0 0 6px 6px;
  top: -2px;
  .file-info{
    width: 100%;
    height: 50px;
    background: #F8F8F8;
    position: relative;
    .icon{
      width: 16px;
      height: 16px;
      float: left;
      margin-left: 8px;
      margin-top: 17px;
      background-image: url('@static/fileIcons/generic@2x.png');
      background-size: 16px 16px;
    }
    .name{
      font-size: 15px;
      letter-spacing: 0.25pt;
      color: #252525;
      float: left;
      margin-top: 17px;
      margin-left: 8px;
      width: ~'calc(100% - 202px)';
      line-height: 1.1em;
    }
    .file-size{
      font-size: 15px;
      letter-spacing: 0.25pt;
      color: #717171;
      margin-top: 17px;
      float: right;
    }
    .file-progress{
      font-size: 15px;
      letter-spacing: 0.25pt;
      color: #0071f6;
      margin-top: 17px;
      float: right;
      width: auto;
      min-width: 75px;
      margin-right: 5px;
      text-align: right;
    }
    .arrow{
      float: right;
      width: 10px;
      height: 12px;
      background-image: url('@static/arrowGrey@2x.png');
      background-size: 10px 12px;
      margin-right: 15px;
      margin-top: 19px;
    }
    .finished-icon{
      width: 15px;
      height: 11px;
      background-image: url('@static/checkmark@2x.png');
      background-size: 15px 11px;
      position: absolute;
      right: 12px;
      top: 20px;
      display: none;
    }
    .extra-actions{
      display: none;
      position: absolute;
      right: 12px;
      top: 15px;
      .open-folder{
        float: right;
        display: inline-block;
        opacity: 0.7;
        width: 19px;
        height: 19px;
        background-image: url('@static/folder@2x.png');
        background-size: 19px 19px;
      }
      .download-to-pc{
        display: none;
        float: right;
        opacity: 0.7;
        width: 18px;
        height: 19px;
        background-image: url('@static/downloadLocal@2x.png');
        background-size: 18px 19px;
        margin-right: 18px;
      }
      .open-folder:hover, .download-to-pc:hover{
        opacity: 1;
      }
    }
  }
  .file-info.upload-from-electron .download-to-pc{
    display: inline-block;
  }
  .file-info:nth-child(odd) {
    background: white;
  }
  .file-info.finished .finished-icon{
    display: block;
  }
  .file-info.finished .file-progress, .file-info.finished .arrow{
    visibility: hidden;
  }
  .file-info.upload-from-electron .arrow, .file-info.download-from-electron .arrow{
    transform: rotate(180deg);
  }
  .file-info.in-progress .arrow{
    background-image: url('@static/arrowBlue@2x.png')
  }
  .file-info.in-progress .file-progress{
    color: #0071f6;
  }
  .file-info.finished:hover{
    background-color: rgba(0,113,246,0.15);
    cursor: pointer;
    .finished-icon, .file-progress, .arrow{
      visibility: hidden;
    }
    *{
      cursor: pointer;
    }
    .extra-actions{
      display: inline-block;
    }
    .file-size{
      color: #252525;
    }
  }
  .file-info.ppt .icon{
    background-image: url('@static/fileIcons/pptx@2x.png');
  }
  .file-info.xls .icon{
    background-image: url('@static/fileIcons/xlsx@2x.png');
  }
  .file-info.doc .icon{
    background-image: url('@static/fileIcons/docx@2x.png');
  }
  .file-info.image .icon{
    background-image: url('@static/fileIcons/imageIcon@2x.png');
  }
  .file-info.audio .icon{
    background-image: url('@static/fileIcons/musicIcon@2x.png');
  }
  .file-info.video .icon{
    background-image: url('@static/fileIcons/videoIcon@2x.png');
  }
  .file-info.uploadDom:last-child, .file-info.downloadDom:last-child{
    border-radius: 0 0 12px 12px;
  }

}

.manager.download-manager{
  margin-left: 12px;
  .progress-gif{
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url('@static/img/downloading-arrow.gif');
  }
}

.manager.contracted{
  height: 60px !important;
  min-height: 60px !important;
  max-height: 60px !important;
  .header{
    border-radius: 12px;
  }
  .see-more figure{
    margin-top: 10px;
    transform: rotate(180deg);
  }
  .content{
    display: none;
  }
}

.manager.done{
  .progress-gif{
    display: none;
  }
  .done-gif{
    visibility: visible;
  }
}

.wz-widget.show{
  display: block !important;
}