.wz-widget{
  position: absolute;
  bottom: 12px;
  right: 12px;
  height: 191px;
  display: none;
}

.manager{
  border-radius: 12px;
  float: right;
  width: 350px;
  height: 191px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,.3);
  border-radius: 12px;
  display: block;
  position: relative;
  margin-top: 0px;
  display: none;
}

.manager.download-manager{
  margin-left: 70px;
}

.header{

  width: 100%;
  height: 60px;
  display: inline-block;
  background-color: white;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.05), 0px 1px 0px 0px rgba(0,0,0,0.05);
  border-radius: 12px 12px 0 0;

  .left-progress{
    width: 54px;
    height: 100%;
    float: left;
    svg{
      margin-left: 14px;
      margin-top: 17px;
    }
    .progress-ring__circle {
      transition: 0.35s stroke-dashoffset;
      // axis compensation
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
    }
    .total-progress{
      width: 22px;
      height: 22px;
      position: absolute;
      top: 30px;
      left: 23px;
      background-color: grey;
    }
    .progress-done{
      width: 22px;
      height: 22px;
      position: absolute;
      top: 30px;
      left: 23px;
    }
    .progress-arrow{
      width: 12px;
      height: 16px;
      display: inline-block;
    }
  }

  .left-progress:after{
    content: '';
    width: 1px;
    height: 48px;
    display: block;
    margin-top: 7px;
    background-color: #9a9aa2;
    position: absolute;
    top: 0px;
    left: 54px;
    opacity: 0.1;
  }

  .summary{
    float: right;
    height: 100%;
    width: ~'calc(100% - 54px)';
    .title{
      width: 100%;
      font-size: 17px;
      letter-spacing: 0.28pt;
      color: #252525;
      margin-top: 9px;
      display: inline-block;
      margin-left: 12px;
    }
    .number-of-files{
      font-size: 13px;
      letter-spacing: 0.28pt;
      color: #252525;
      margin-top: 7px;
      margin-left: 12px;
      display: inline-block;
    }
    .percentage{
      font-size: 13px;
      letter-spacing: 0.28pt;
      color: #9a9aa2;
      display: inline-block;
    }
  }

  .see-more{
    width: 95px;
    height: 24px;
    position: absolute;
    right: 6px;
    top: 30px;
    border-radius: 12px;
    background-color: rgba(0,0,0,0.05);
    .icon{
      width: 9px;
      height: 5px;
      float: left;
      margin-left: 12px;
      margin-top: 10px;
      margin-right: 2px;
      background-image: url('@static/moreIcon@2x.png');
      background-size: 9px 5px;
      transform: rotate(0deg);
      display: none;
    }
    .text{
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 0.22pt;
      color: #a29a9a;
      margin-top: 5px;
      margin-left: 7px;
      /*display: inline-block;*/
      text-align: center;
    }
  }

  .see-more:hover{
    background-color: rgba(0,0,0,0.1);
  }

  .close-button{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 6px;
    right: 6px;
    border-radius: 50%;
    figure{
      width: 10px;
      height: 10px;
      background-image: url('@static/closeDownload@2x.png');
      background-size: 10px 10px;
      display: inline-block;
      margin-top: 4px;
      margin-left: 4px;
    }
  }

  .close-button:hover{
    background-color: rgba(0,0,0,0.1);
  }

}

.content{
  width: 100%;
  height: ~'calc(100% - 60px)';
  display: inline-block;
  border-radius: 0 0 6px 6px;
  .file-info{
    width: 100%;
    height: 30px;
    background: #F8F8F8;
    position: relative;
    .icon{
      width: 16px;
      height: 16px;
      float: left;
    }
    .name{
      font-size: 15px;
      letter-spacing: 0.25pt;
      color: #252525;
      float: left;
      margin-top: 7px;
      width: ~'calc(100% - 165px)';
    }
    .file-size{
      font-size: 15px;
      letter-spacing: 0.25pt;
      color: #717171;
      margin-top: 7px;
      float: right;
    }
    .file-progress{
      font-size: 15px;
      letter-spacing: 0.25pt;
      color: #717171;
      margin-top: 7px;
      float: right;
      width: auto;
      min-width: 75px;
      margin-right: 5px;
      text-align: right;
    }
    .arrow{
      float: right;
      width: 10px;
      height: 12px;
      background-image: url('@static/arrowGrey@2x.png');
      background-size: 10px 12px;
      margin-right: 8px;
      margin-top: 8px;
    }
    .open{
      width: 60px;
      height: 20px;
      position: absolute;
      top: 4px;
      right: 6px;
      background-color: rgba(0,0,0,0.05);
      border-radius: 10.5px;
      display: none;
    }
    .open:hover{
      background-color: rgba(0,0,0,0.1);
    }
    .open .text{
      color: #717171;
      text-align: center;
      font-family: 'Lato';
      font-weight: bold;
      font-size: 13px;
      margin-top: 4px;
    }
  }
  .file-info:nth-child(odd) {
    background: white;
  }
  .file-info.finished .open{
    display: block;
  }
  .file-info.finished .file-progress, .file-info.finished .arrow{
    visibility: hidden;
  }
  .file-info.upload-from-electron .arrow, .file-info.download-from-electron .arrow{
    transform: rotate(180deg);
  }
  .file-info.in-progress .arrow{
    background-image: url('@static/arrowBlue@2x.png')
  }
  .file-info.in-progress .file-progress{
    color: #0071f6;
  }
}

.manager.contracted{
  height: 60px !important;
  min-height: 60px !important;
  margin-top: 131px !important;
  .header{
    border-radius: 12px;
  }
  .see-more .icon{
    transform: rotate(180deg);
  }
  .content{
    display: none;
  }
}

.wz-widget.show{
  display: block !important;
}
