.transform (@translate: 10px, @translate2: 10px, @translate3: 10px, ) {
	-webkit-transform: translate3d(@translate,@translate2,@translate3);
	-moz-transform: translate3d(@translate,@translate2,@translate3);
	-o-transform: translate3d(@translate,@translate2,@translate3);
	-ms-transform: translate3d(@translate,@translate2,@translate3);
	transform: translate3d(@translate,@translate2,@translate3);
}

.wz-view.wz-mobile-view{
  overflow: hidden !important;
}

.opacity-cover{
  z-index: 2;
  background-color: rgba(0,0,0,0.3);
  opacity: 0;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

#weexplorer-menu{
  width: 100%;
  height: 54px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom: 2px solid #eeeeee;
  text-align: center;
  z-index: 1;
}

#weexplorer-menu-sidebar{
  float: left;
  padding: 22px 18px;
}

#weexplorer-menu-sidebar-icon{
  width: 18px;
  height: 12px;
  float: left;
  background: url( '@static/mobile/hamburguer.png' ) no-repeat;
  background-size: 18px 12px;
}

.weexplorer-menu-upload{
  width: 23px;
  height: 19px;
  float: right;
  padding: 21px 16px 15px 15px;
  text-align: center;
}

.weexplorer-menu-upload-icon{
  width: 23px;
  height: 19px;
  background: url( '@static/mobile/subida.png' ) no-repeat;
  background-size: 23px 19px;
  display: none;
}

#weexplorer-menu-name{
  display: inline-block;
  margin-top: 18px;
  font-size: 20px;
  font-family: Lato;
  font-weight: bold;
  color: #252525;
  max-width: ~'calc(100% - 118px)';
}

#weexplorer-content{
  width: 100%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 56px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#weexplorer-content.select-source-mode{
	height: ~'calc(100% - 49px)';
}

#weexplorer-content.stop-scroll{
  -webkit-overflow-scrolling: auto !important;
}

.weexplorer-element{
  width: 100%;
  height: 48px;
  padding: 7px 0;
  float: left;
  border-bottom: 1px solid #eeeeee;
  position: relative;
}

.back{
  display: none;
}

.weexplorer-back-arrow{
  width: 28px;
  height: 24px;
  float: left;
  margin: 13px 24px 0px 21px;
  background: url( '@static/mobile/goback.png' ) 0 0 no-repeat;
  background-size: 26px 24px;
}

.weexplorer-back-text{
  float: left;
  margin-top: 16px;
  font-size: 17px;
  color: #252525;
}

.weexplorer-element-icon{
  /*max-width: 44px;
  max-height: 44px;*/
  width: 40px;
  height: 40px;
  /*float: left;*/
  position: absolute;
  top: 11px;
  left: 16px;
  border-radius: 3px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.weexplorer-element-info{
  /*float: left;*/
  width: 100%;
  padding: 0px 40px 0px 74px;
  box-sizing: border-box;
}

.weexplorer-element-name{
  font-size: 17px;
  font-family: Lato;
  float: left;
  margin-top: 4px;
  color: #252525;
  width: 100%;
}

.weexplorer-element-data{
  font-size: 13px;
  float: left;
  margin-top: 8px;
  clear: both;
  color: #717171;
}

.weexplorer-element-options{
  width: 22px;
  height: 22px;
  padding: 14px 8px;
  position: absolute;
  top: 7px;
  right: 0px;
}

.weexplorer-element-options-icon{
  width: 22px;
  height: 22px;
  float: left;
  background: url( '@static/mobile/moreinfo.png' ) 0px 0px no-repeat;
  background-size: 22px 22px;
}

.weexplorer-element .select-file{
	display: none;
	position: absolute;
	padding: 10px;
	margin-top: 6px;
}

.select-source-mode .weexplorer-element.file .select-file{
	display: inline-block;
}

.select-source-mode .weexplorer-element .weexplorer-element-options{
	display: none;
}

#weexplorer-sidebar{
  width: ~'calc(100% - 50px)';
  height: 100%;
  position: absolute;
  top: 0;
  .transform(-100%,0,0);
  background: #ffffff;
  z-index: 2;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.weexplorer-sidebar-header{
  width: 100%;
  height: 84px;
}

.weexplorer-sidebar-title{
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #252525;
  float: left;
  margin-left: 19px;
  font-family: Lato;
}

.weexplorer-sidebar-element{
  width: 100%;
  height: 62px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 15px;
}

.weexplorer-sidebar-element.active{
  border-top: 1px solid rgba( 0, 0, 0, 0.1 );
  border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
  background: #60b25e;
}

.weexplorer-sidebar-container{
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #D8D8D8;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 17px 0;
}

.active .weexplorer-sidebar-container{
  border-bottom: 1px solid transparent;
}

.weexplorer-sidebar-icon-container{
  width: 25px;
  height: 25px;
  float: left;
  text-align: center;
}

.weexplorer-sidebar-icon{
  width: 25px;
  height: 21px;
  margin: 0 auto;
  background: url( '@static/mobile/sprite-sidebar-files.png' ) no-repeat -296px 0;
  background-size: 346px 26px;
  display: inline-block;
}

.active .weexplorer-sidebar-icon{
	background-position: -321px 0;
}

.user .weexplorer-sidebar-icon{
  background-position: 0px 0;
}

.active.user .weexplorer-sidebar-icon{
  background-position: -22px 0;
}

.music .weexplorer-sidebar-icon{
  width: 19px;
  height: 22px;
  background-position: -222px 0;
}

.active.music .weexplorer-sidebar-icon{
  background-position: -240px 0;
}

.photo .weexplorer-sidebar-icon{
  width: 25px;
  height: 20px;
  background-position: -172px 0;
}

.active.photo .weexplorer-sidebar-icon{
  background-position: -197px 0;
}

.doc .weexplorer-sidebar-icon{
  width: 22px;
  height: 26px;
  background-position: -128px 0;
}

.active.doc .weexplorer-sidebar-icon{
  background-position: -150px 0;
}

.sharedFolder .weexplorer-sidebar-icon{
  width: 20px;
  height: 20px;
  background-position: -176px 0;
}

.active.sharedFolder .weexplorer-sidebar-icon{
  background-position: -197px 0;
}

.receivedFolder .weexplorer-sidebar-icon{
  width: 20px;
  height: 22px;
  background-position: -44px 0;
}

.active.receivedFolder .weexplorer-sidebar-icon{
  background-position: -65px 0;
}

.video .weexplorer-sidebar-icon{
  width: 19px;
  height: 22px;
  background-position: -258px 0;
}

.active.video .weexplorer-sidebar-icon{
  background-position: -277px 0;
}

.weexplorer-sidebar-name{
  margin-top: 4px;
  font-size: 17px;
  font-weight: bold;
  color: #252525;
  float: left;
  margin-left: 17px;
  font-family: Lato;
}

.active .weexplorer-sidebar-name{
  color: #ffffff;
}

.title .weexplorer-sidebar-name{
  font-weight: bold;
}

.empty-folder{
  position: absolute !important;
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-family: Lato;
  line-height: 1.5em;
  color: #717171;
  display: none;
}

.empty-folder.active{
  display: block;
}

.center-vertical{
  position: relative;
  top: 50%;
  .transform(0,-50%,0);
}

.file-options{
  width: 100%;
	height: 100%;
	max-height: 100%;
	overflow-y: scroll;
  background-color: white;
  position: absolute;
  bottom: 0;
	top: 100%;
  .transform(0,100%,0);
  z-index: 3;
  display: none;
}

.file-options.renaming{
	-webkit-transform: translate3d(0,0,0) !important;
	-moz-transform: translate3d(0,0,0) !important;
	-o-transform: translate3d(0,0,0) !important;
	-ms-transform: translate3d(0,0,0) !important;
	transform: translate3d(0,0,0) !important;
	top: 0;
}

.options-container{
  display: inline-block;
  width: 100%;
}

.option-section{
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.option-section:before{
  clear: both;
  content: "";
  display: block;
  width: ~'calc(100% - 16px)';
  height: 1px;
  margin: 0 auto;
  background: #eeeeee;
}

.file-options .options-header{
  width: 100%;
  height: 64px;
  display: inline-block;
}

.file-options .options-header .options-logo{
  width: 32px;
  height: 32px;
  margin: 16px 24px 16px 20px;
  float: left;
  text-align: center;
}

.options-logo i{
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  margin: 0 auto;
}

.file-options .file-title{
  float: left;
  font-family: Lato;
  font-size: 17px;
  line-height: 1.1em;
  color: #252525;
  max-width: ~'calc(100% - 140px)';
}

.file-options .file-rename{
  font-size: 17px;
  line-height: 1.1em;
  color: #252525;
  max-width: ~'calc(100% - 180px)';
  display: none;
}

.file-options .options-header .options-more{
  float: right;
  width: 23px;
  height: 23px;
  padding: 5px 18px 5px 8px;
}

.file-options .options-header .options-more i{
	width: 23px;
  height: 23px;
  background-image: url('@static/mobile/info.png');
  background-size: 23px 23px;
	display: inline-block;
}

.file-options .options-header .options-close{
  float: right;
  width: 12px;
  height: 12px;
  padding: 10px 18px 10px 13px;
  display: none;
}

.file-options .options-header .options-close i{
	width: 12px;
  height: 12px;
	background-image: url('@static/mobile/cerrar-info.png');
	background-size: 12px 12px;
	display: inline-block;
}

.file-options .options-header .rename-accept{
  float: right;
  width: 17px;
  height: 14px;
  background-image: url('@static/mobile/aceptar-renombrar.png');
  background-size: 17px 14px;
  padding: 5px 18px 5px 13px;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.file-options .options-header .rename-cancel{
  float: right;
  width: 14px;
  height: 14px;
  background-image: url('@static/mobile/cancelar-renombrar.png');
  background-size: 14px 14px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5px 10px 5px 13px;
  display: none;
}

.file-options .option-title{
  font-size: 13px;
  font-weight: bold;
  font-family: Lato;
  color: #717171;
  margin: 15px 20px 12px;
}

.option-section .option{
  width: 100%;
  height: 48px;
}

.option-section .option figure{
  float: left;
  width: 20px;
  height: 20px;
  background-image: url('@static/mobile/sprite-info.png');
  background-size: 126px 22px;
}

.option-section .option.create-link figure{
  width: 23px;
  height: 19px;
  background-position: -84px 0px;
  margin-top: 14px;
  margin-left: 26px;
  margin-right: 26px;
}

.option-section .option.send-to{
  display: none;
}

.file-options.folder .option-section .option.download{
  display: none;
}

.option-section .option.send-to figure{
  width: 15px;
  height: 20px;
  background-position: -68px 0px;
  margin-top: 15px;
  margin-left: 28px;
  margin-right: 33px;
}

.option-section .option.share-with figure{
  width: 26px;
  height: 18px;
  background-position: 0px 0px;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 24px;
}

.option-section .option.download figure{
  width: 22px;
  height: 22px;
  background-position: -46px 0px;
  margin-top: 13px;
  margin-left: 23px;
  margin-right: 31px;
}

.option-section .option.rename figure{
  width: 19px;
  height: 19px;
  background-position: -107px 0px;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 33px;
}

.option-section .option.delete figure{
  width: 18px;
  height: 19px;
  background-position: -27px 0px;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 34px;
}

.option-section .option div{
  font-family: Lato;
  font-size: 15px;
  color: #252525;
  float: left;
}

.create-link-container{
  width: 100%;
  height: 350px;
  position: absolute;
  .transform(100%, 0, 0);
  top: 64px;
  background-color: white;
  text-align: center;
  display: none;
}

.create-link-container:before{
  clear: both;
  content: "";
  display: block;
  width: ~'calc(100% - 16px)';
  height: 1px;
  margin: 0 auto;
  background: #eeeeee;
}

.create-link-container .create-link-title{
  font-family: Lato;
  font-size: 21px;
  margin-top: 30px;
  color: #252525;
  text-align: center;
  margin-bottom: 38px;
}

.create-link-container .create-link-title.password-mode{
  margin-top: 20px;
  margin-bottom: 18px;
}

.toggles-container{
  width: ~'calc(100% - 40px)';
  padding: 0 20px;
  position: absolute;
  .transform(0,0,0);
}

.toggle{
  height: 31px;
  margin-bottom: 20px;
}

.toggle .toggle-name{
  font-family: Lato;
  font-size: 15px;
  color: #252525;
  float: left;
}

.toggle .selector{
  width: 51px;
  height: 29px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #f9f9fb;
  border: solid 1px #ccd3d5;
  float: right;
}

.toggle .selector i{
  float: left;
  width: 25px;
  height: 25px;
  background-color: #717171;
  border-radius: 50%;
  margin-top: 2px;
  margin-left: 2px;
}

.toggle .selector.active i{
  margin-left: 24px;
  background-color: #60b25e;
}

.password-container{
  width: ~'calc(100% - 40px)';
  height: 46px;
  -webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
  border: solid 1px #60b25e;
  padding: 0 20px;
  font-size: 16px;
  color: #252525;
  display: none;
}

.link-container{
  width: ~'calc(100% - 40px)';
  padding: 0 20px;
  position: absolute;
  height: 134px;
  .transform(100%,0,0);
}

.generated-link{
  width: ~'calc(100% - 40px)';
  height: 46px;
  -webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
  border: solid 2px #60b25e;
  margin-top: 45px;
  padding: 0 20px;
  font-size: 18px;
  color: #252525;
}

.generate-btn, .back-link-btn, .accept-share{
  margin-top: 25px;
  width: 160px;
  height: 47px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  background-color: #60b25e;
  background-image: none;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
  display: none;
}

.generate-btn.active, .back-link-btn.active, .accept-share.accept{
  display: block;
}

.file-details{
  width: 100%;
  height: ~'calc(100% - 64px)';
  position: absolute;
  .transform(0, 100%, 0);
  top: 64px;
  background-color: white;
  text-align: center;
  display: none;
}

.file-details .title{
  margin: 15px 0px 18px 20px;
  font-family: Lato;
  font-size: 13px;
  font-weight: bold;
  color: #717171;
}

.file-section:before{
  clear: both;
  content: "";
  display: block;
  width: ~'calc(100% - 16px)';
  height: 1px;
  margin: 0 auto;
  background: #eeeeee;
}

.file-size-section{
  width: 100%;
  height: 90px;
  text-align: left;
}

.file-options.folder .option.create-link{
  display: none;
}

.file-size-section .file-size-value{
  color: #252525;
  font-size: 29px;
  font-family: Lato;
  font-weight: bold;
  margin-left: 20px;
}

.file-location-section{
  width: 100%;
  height: 90px;
  text-align: left;
}

.file-location-section .file-location-title{
  margin-bottom: 28px;
}

.file-location-section .file-location-value{
  color: #252525;
  font-size: 15px;
  font-family: Lato;
  margin-left: 20px;
  max-width: ~'calc(100% - 40px)';
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  height: 23px;
}

.file-dates-section{
  width: 100%;
  height: 75px;
  text-align: left;
}

.file-created-section, .file-modified-section{
  float: left;
  width: 50%;
}

.file-dates-section .divider{
  width: 1px;
  height: 45px;
  background-color: #e5e9ea;
  float: left;
}

.file-modified-section{
  width: ~'calc(50% - 1px)';
}

.file-created-value, .file-modified-value{
  color: #252525;
  font-size: 15px;
  font-family: Lato;
  margin-left: 20px;
}

.file-modified-title, .file-modified-value{
  margin-left: 14px !important;
}

.file-owners-section{
  width: 100%;
  height: ~'calc(100% - 255px)';
  text-align: left;
}

.file-options.folder .file-owners-section{
  height: ~'calc(100% - 165px)';
}

.file-owners-section .user{
  width: ~'calc(100% - 40px)';
  height: 35px;
  margin: 0px 20px 10px;
}

.file-owners-section .user figure{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
  float: left;
}

.file-owners-container{
  height: ~'calc(100% - 46px)';
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.file-owners-section .username{
  font-family: Lato;
  font-size: 15px;
  color: #252525;
  margin-left: 15px;
  float: left;
}

.file-owners-section .is-owner{
  font-family: Lato;
  font-size: 12px;
  float: right;
  color: #717171;
  display: none;
}

.file-owners-section .user.owner .is-owner{
  display: block;
}

.share-details{
  width: 100%;
  height: ~'calc(100% - 64px)';
  position: absolute;
  .transform(0, 100%, 0);
  top: 64px;
  background-color: white;
  text-align: center;
  display: none;
}

.share-details:before{
  clear: both;
  content: "";
  display: block;
  width: ~'calc(100% - 16px)';
  height: 1px;
  margin: 0 auto;
  background: #eeeeee;
}

.share-details .share-title{
  font-size: 20px;
  color: #252525;
  text-align: center;
  margin: 25px 0;
  display: inline-block;
}

.share-details .share-with-friends{
  width: 100%;
  height: ~'calc(100% - 70px)';
  position: absolute;
  top: 70px;
  .transform(0,0,0);
}

.share-details .first-step{
  width: 100%;
  height: ~'calc(100% - 100px)';
  .transform(0,0,0);
  position: absolute;
}

.share-details .first-step .friend-list{
  height: ~'calc(100% - 35px)';
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.share-details .share-with-friends .title{
  font-size: 13px;
  text-align: left;
  color: #717171;
  margin-left: 20px;
  margin-bottom: 22px;
}

.share-details .share-with-friends .second-step .title{
  margin-top: 20px;
  margin-bottom: 0px;
}

.share-details .first-step .user{
  width: 100%;
  height: 48px;
  display: inline-block;
}

.share-details .first-step .user .avatar{
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  border-radius: 50%;
  margin: 0 14px 0 20px;
  float: left;
}

.share-details .first-step .user .username{
  max-width: ~'calc(100% - 100px)';
  text-align: left;
  font-family: Lato;
  font-size: 16px;
  color: #252525;
  float: left;
}

.share-details .first-step .user.active .username{
  max-width: ~'calc(100% - 134px)';
}

.share-details .first-step .user .is-shared{
  width: 14px;
  height: 14px;
  margin: 0 22px;
  background-image: url('@static/mobile/tick.png');
  background-size: 14px 14px;
  float: right;
  display: none;
}

.share-details .first-step .user.active .is-shared{
  display: block;
}

.share-details .first-step .user:before{
  clear: both;
  content: "";
  display: block;
  width: ~'calc(100% - 75px)';
  height: 1px;
  margin-left: 75px;
  background: #eeeeee;
  margin-bottom: 1px;
}

.share-details .second-step{
  width: 100%;
  height: ~'calc(100% - 100px)';
  position: absolute;
  .transform(100%,0,0);
  display: none;
}

.permissions-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  align-items: center;
  align-content: space-around;
  height: 250px;
	overflow-y: scroll;

  .permission{
    width: 90px;
    text-align: center;

    .icon{
      background: url('@static/mobile/sprite-compartir.png');
      background-size: 420px 139px;
      width: 70px;
      height: 70px;
      border-radius: 35px;
      display: inline-block;
    }

    &.link .icon{
      background-position:  0px 0;
    }

    &.link.active .icon{
      background-position: 0px -70px;
    }

    &.modify .icon{
      background-position: -70px 0;
    }

    &.modify.active .icon{
      background-position: -70px -70px;
    }

    &.copy .icon{
      background-position: -350px 0;
    }

    &.copy.active .icon{
      background-position: -350px -70px;
    }

    &.download .icon{
      background-position: -210px 0;
    }

    &.download.active .icon{
      background-position: -210px -70px;
    }

    &.share .icon{
      background-position: -280px 0;
    }

    &.share.active .icon{
      background-position: -280px -70px;
    }

    &.send .icon{
      background-position: -140px 0;
    }

    &.send.active .icon{
      background-position: -140px -70px;
    }

    .name{
      text-align: center;
      margin-top: 8px;
      font-family: Lato;
      font-size: 16px;
      color: #252525;
      display: inline-block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

}

.attach-footer{
	position: absolute;
	width: 100%;
	height: 49px;
	bottom: 0;
	z-index: 3;
	transform: translateY(49px);
	background-color: #f0f0f0;

	.attach-selected{
		float: left;
		font-size: 18px;
		color: #717171;
		padding: 15px 20px;
	}

	.attach-button{
		width: 95px;
		height: 39px;
		background-color: #60b25e;
		float: right;
		margin: 5px 7px;
		border-radius: 6px;

		span{
			width: 100%;
			font-size: 17px;
			font-weight: bold;
			color: #fff;
			text-align: center;
			float: left;
			margin: 10px 0;
		}
	}

}

.attach-footer.select-source-mode{
	position: inline-block;
	transform: translateY(0px);
}

.progress-container{
	background-color: rgba(0, 0, 0, 0.5);
	/*opacity: 0.5;*/
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 4;
	display: none;
}

.progress-container.active{
	display: block;
}

.progress-window{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 300px;
	height: 168px;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.progress-text{
	margin-left: 30px;
	margin-top: 30px;
	font-size: 22px;
	color: black;
}

.progress-bar{
	width: ~'calc(100% - 60px)';
	height: 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #ececee;
	margin: 35px auto 0 auto;
}

.progress-bar-loaded{
	width: 0px;
	height: 6px;
	background: #60b25e;
	position: relative;
	top: 0;
	left: 0;
	border-radius: 3px;
}

.cancel-progress{
	color: #fe1843;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 30px 10px;
	float: right;
	display: inline-block;
	margin-top: 25px;
}
