
.wz-view.wz-mobile-view{
  overflow: hidden !important;
}

.opacity-cover{
  z-index: 2;
  background-color: rgba(0,0,0,0.3);
  opacity: 0;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

#weexplorer-menu{
  width: 100%;
  height: 54px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #60b25e;
  border-bottom: 2px solid #56a054;
  text-align: center;
  z-index: 1;
}

#weexplorer-menu-sidebar{
  float: left;
  padding: 22px 18px;
}

#weexplorer-menu-sidebar-icon{
  width: 18px;
  height: 12px;
  float: left;
  background: url( '@static/mobile/hamburguer.png' ) no-repeat;
  background-size: 18px 12px;
}

#weexplorer-menu-options{
  width: 4px;
  height: 18px;
  float: right;
  padding: 21px 16px 15px 0;
  margin-left: 34px;
  text-align: center;
}

#weexplorer-menu-options-icon{
  width: 3px;
  height: 18px;
  background: url( '@static/mobile/more.png' ) -3px 0px no-repeat;
  background-size: 6px 18px;
  display: inline-block;
}

#weexplorer-menu-name{
  display: inline-block;
  margin-top: 18px;
  font-size: 20px;
  font-family: Lato;
  font-weight: bold;
  color: #ffffff;
  max-width: ~'calc(100% - 118px)';
}

#weexplorer-content{
  width: 100%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 56px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.weexplorer-element{
  width: 100%;
  height: 48px;
  padding: 7px 0;
  float: left;
  border-bottom: 1px solid #e5e9ea;
  position: relative;
}

.back{
  display: none;
}

.weexplorer-back-arrow{
  width: 28px;
  height: 24px;
  float: left;
  margin: 13px 24px 0px 21px;
  background: url( '@static/mobile/goback.png' ) 0 0 no-repeat;
  background-size: 26px 24px;
}

.weexplorer-back-text{
  float: left;
  margin-top: 16px;
  font-size: 17px;
  color: #545f65;
}

.weexplorer-element-icon{
  /*max-width: 44px;
  max-height: 44px;*/
  width: 40px;
  height: 40px;
  /*float: left;*/
  position: absolute;
  top: 11px;
  left: 16px;
  border-radius: 3px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.weexplorer-element-info{
  /*float: left;*/
  width: 100%;
  padding: 0px 40px 0px 74px;
  box-sizing: border-box;
}

.weexplorer-element-name{
  font-size: 17px;
  font-family: Lato;
  float: left;
  margin-top: 4px;
  color: #545f65;
  width: 100%;
}

.directory .weexplorer-element-name{
  margin-top: 13px;
}

.directory .weexplorer-element-data{
  display: none;
}

.weexplorer-element-data{
  font-size: 13px;
  float: left;
  margin-top: 8px;
  clear: both;
  color: #889399;
}

.weexplorer-element-options{
  width: 22px;
  height: 22px;
  padding: 14px 8px;
  position: absolute;
  top: 7px;
  right: 0px;
}

.weexplorer-element-options-icon{
  width: 22px;
  height: 22px;
  float: left;
  background: url( '@static/mobile/moreinfo.png' ) 0px 0px no-repeat;
  background-size: 22px 22px;
}

#weexplorer-sidebar{
  width: ~'calc(100% - 50px)';
  height: 100%;
  position: absolute;
  top: 0;
  transform: translate3d(-100%,0,0);
  background: #ffffff;
  z-index: 2;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.weexplorer-sidebar-header{
  width: 100%;
  height: 84px;
}

.weexplorer-sidebar-title{
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #545f65;
  float: left;
  margin-left: 19px;
  font-family: Lato;
}

.weexplorer-sidebar-element{
  width: 100%;
  height: 62px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 15px;
}

.weexplorer-sidebar-element.active{
  border-top: 1px solid rgba( 0, 0, 0, 0.1 );
  border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
  background: #60b25e;
}

.weexplorer-sidebar-container{
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #D8D8D8;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 17px 0;
}

.active .weexplorer-sidebar-container{
  border-bottom: 1px solid transparent;
}

.weexplorer-sidebar-icon-container{
  width: 25px;
  height: 25px;
  float: left;
  text-align: center;
}

.weexplorer-sidebar-icon{
  width: 21px;
  height: 21px;
  margin: 0 auto;
  background: url( '@static/mobile/sprite-sidebar.png' ) no-repeat 0px 0;
  background-size: 298px 26px;
  display: inline-block;
}

.active.user .weexplorer-sidebar-icon{
  background-position: -22px 0;
}

.music .weexplorer-sidebar-icon{
  width: 19px;
  height: 23px;
  background-position: -44px 0;
}

.active.music .weexplorer-sidebar-icon{
  background-position: -63px 0;
}

.photo .weexplorer-sidebar-icon{
  width: 25px;
  height: 20px;
  background-position: -82px 0;
}

.active.photo .weexplorer-sidebar-icon{
  background-position: -107px 0;
}

.doc .weexplorer-sidebar-icon{
  width: 22px;
  height: 26px;
  background-position: -132px 0;
}

.active.doc .weexplorer-sidebar-icon{
  background-position: -154px 0;
}

.sharedFolder .weexplorer-sidebar-icon{
  width: 20px;
  height: 20px;
  background-position: -176px 0;
}

.active.sharedFolder .weexplorer-sidebar-icon{
  background-position: -197px 0;
}

.receivedFolder .weexplorer-sidebar-icon{
  width: 20px;
  height: 22px;
  background-position: -218px 0;
}

.active.receivedFolder .weexplorer-sidebar-icon{
  background-position: -239px 0;
}

.video .weexplorer-sidebar-icon{
  width: 19px;
  height: 22px;
  background-position: -260px 0;
}

.active.video .weexplorer-sidebar-icon{
  background-position: -279px 0;
}

.weexplorer-sidebar-name{
  margin-top: 4px;
  font-size: 17px;
  font-weight: bold;
  color: #545f65;
  float: left;
  margin-left: 17px;
  font-family: Lato;
}

.active .weexplorer-sidebar-name{
  color: #ffffff;
}

.title .weexplorer-sidebar-name{
  font-weight: bold;
}

.empty-folder{
  position: absolute !important;
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-family: Lato;
  line-height: 1.5em;
  color: #889399;
  display: none;
}

.empty-folder.active{
  display: block;
}

.center-vertical{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.file-options{
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  transform: translate3d(0,0,0);
  z-index: 3;
  top: 100%;
  display: none;
}

.options-container{
  display: inline-block;
  width: 100%;
}

.option-section{
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.option-section:before{
  clear: both;
  content: "";
  display: block;
  width: ~'calc(100% - 16px)';
  height: 1px;
  margin: 0 auto;
  background: #e5e9ea;
}

.file-options .options-header{
  width: 100%;
  height: 64px;
  display: inline-block;
}

.file-options .options-header .options-logo{
  width: 32px;
  height: 32px;
  margin: 16px 24px 16px 20px;
  float: left;
  text-align: center;
}

.options-logo i{
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  margin: 0 auto;
}

.file-options .file-title{
  float: left;
  font-family: Lato;
  font-size: 17px;
  color: #545f65;
  max-width: ~'calc(100% - 140px)';
}

.file-options .options-header .options-more{
  float: right;
  width: 23px;
  height: 23px;
  background-image: url('@static/mobile/info.png');
  background-size: cover;
  float: right;
  margin: 0 18px 0 8px;
}

.file-options .option-title{
  font-size: 13px;
  font-weight: bold;
  font-family: Lato;
  color: #889399;
  margin: 15px 20px 12px;
}

.option-section .option{
  width: 100%;
  height: 48px;
}

.option-section .option figure{
  float: left;
  width: 20px;
  height: 20px;
  background-image: url('@static/mobile/sprite-info.png');
  background-size: 126px 22px;
}

.option-section .option.create-link figure{
  width: 23px;
  height: 19px;
  background-position: -84px 0px;
  margin-top: 14px;
  margin-left: 26px;
  margin-right: 26px;
}

.option-section .option.send-to figure{
  width: 15px;
  height: 20px;
  background-position: -68px 0px;
  margin-top: 15px;
  margin-left: 28px;
  margin-right: 33px;
}

.option-section .option.share-with figure{
  width: 26px;
  height: 18px;
  background-position: 0px 0px;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 24px;
}

.option-section .option.download figure{
  width: 22px;
  height: 22px;
  background-position: -46px 0px;
  margin-top: 13px;
  margin-left: 23px;
  margin-right: 31px;
}

.option-section .option.rename figure{
  width: 19px;
  height: 19px;
  background-position: -107px 0px;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 33px;
}

.option-section .option.delete figure{
  width: 18px;
  height: 19px;
  background-position: -27px 0px;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 34px;
}

.option-section .option div{
  font-family: Lato;
  font-size: 15px;
  color: #545f65;
  float: left;
}

.create-link-container{
  width: 100%;
  height: 350px;
  position: absolute;
  transform: translate3d(100%, 0, 0);
  bottom: 45px;
  background-color: white;
  text-align: center;
  display: none;
}

.create-link-container:before{
  clear: both;
  content: "";
  display: block;
  width: ~'calc(100% - 16px)';
  height: 1px;
  margin: 0 auto;
  background: #e5e9ea;
}

.create-link-container .create-link-title{
  font-family: Lato;
  font-size: 21px;
  margin-top: 30px;
  color: #545f65;
  text-align: center;
  margin-bottom: 38px;
}

.toggles-container{
  margin: 0 20px;
}

.toggle{
  height: 31px;
  margin-bottom: 20px;
}

.toggle .toggle-name{
  font-family: Lato;
  font-size: 15px;
  color: #545f65;
  float: left;
}

.toggle .selector{
  width: 51px;
  height: 29px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #f9f9fb;
  border: solid 1px #ccd3d5;
  float: right;
}

.toggle .selector i{
  float: left;
  width: 25px;
  height: 25px;
  background-color: #889399;
  border-radius: 50%;
  margin-top: 2px;
  margin-left: 2px;
}

.toggle .selector.active i{
  margin-left: 24px;
  background-color: #60b25e;
}

.generate-btn{
  margin-top: 25px;
  width: 160px;
  height: 47px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  background-color: #60b25e;
  background-image: none;
}

.file-details{
  width: 100%;
  height: ~'calc(100% - 64px)';
  position: absolute;
  transform: translate3d(0, 100%, 0);
  top: 64px;
  background-color: white;
  text-align: center;
  display: none;
}

.file-details .title{
  margin: 15px 0px 18px 20px;
  font-family: Lato;
  font-size: 13px;
  font-weight: bold;
  color: #889399;
}

.file-section:before{
  clear: both;
  content: "";
  display: block;
  width: ~'calc(100% - 16px)';
  height: 1px;
  margin: 0 auto;
  background: #e5e9ea;
}

.file-size-section{
  width: 100%;
  height: 90px;
  text-align: left;
}

.file-options.folder .file-size-section{
  display: none;
}

.file-size-section .file-size-value{
  color: #545f65;
  font-size: 29px;
  font-family: Lato;
  font-weight: bold;
  margin-left: 20px;
}

.file-location-section{
  width: 100%;
  height: 90px;
  text-align: left;
}

.file-location-section .file-location-title{
  margin-bottom: 28px;
}

.file-location-section .file-location-value{
  color: #545f65;
  font-size: 15px;
  font-family: Lato;
  margin-left: 20px;
}

.file-dates-section{
  width: 100%;
  height: 75px;
  text-align: left;
}

.file-created-section, .file-modified-section{
  float: left;
  width: 50%;
}

.file-dates-section .divider{
  width: 1px;
  height: 45px;
  background-color: #e5e9ea;
  float: left;
}

.file-modified-section{
  width: ~'calc(50% - 1px)';
}

.file-created-value, .file-modified-value{
  color: #545f65;
  font-size: 15px;
  font-family: Lato;
  margin-left: 20px;
}

.file-modified-title, .file-modified-value{
  margin-left: 14px !important;
}

.file-owners-section{
  width: 100%;
  height: ~'calc(100% - 255px)';
  text-align: left;
}

.file-options.folder .file-owners-section{
  height: ~'calc(100% - 165px)';
}

.file-owners-section .user{
  width: ~'calc(100% - 40px)';
  height: 35px;
  margin: 0px 20px 10px;
}

.file-owners-section .user figure{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
  float: left;
}

.file-owners-container{
  height: ~'calc(100% - 46px)';
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.file-owners-section .username{
  font-family: Lato;
  font-size: 15px;
  color: #545f65;
  margin-left: 15px;
  float: left;
}

.file-owners-section .is-owner{
  font-family: Lato;
  font-size: 12px;
  float: right;
  color: #889399;
  display: none;
}

.file-owners-section .user.owner .is-owner{
  display: block;
}
