
.opacity-cover{
  z-index: 2;
  background-color: black;
  opacity: 0;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

#weexplorer-menu{
  width: 100%;
  height: 54px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #60b25e;
  border-bottom: 2px solid #56a054;
  text-align: center;
  z-index: 1;
}

#weexplorer-menu-sidebar{
  float: left;
  padding: 22px 18px;
}

#weexplorer-menu-sidebar-icon{
  width: 18px;
  height: 12px;
  float: left;
  background: url( '@static/mobile/hamburguer.png' ) no-repeat;
  background-size: 18px 12px;
}

#weexplorer-menu-options{
  width: 4px;
  height: 18px;
  float: right;
  padding: 21px 16px 15px 0;
  margin-left: 34px;
  text-align: center;
}

#weexplorer-menu-options-icon{
  width: 3px;
  height: 18px;
  background: url( '@static/mobile/more.png' ) -3px 0px no-repeat;
  background-size: 6px 18px;
  display: inline-block;
}

#weexplorer-menu-name{
  display: inline-block;
  margin-top: 18px;
  font-size: 20px;
  font-family: Lato;
  font-weight: bold;
  color: #ffffff;
  max-width: ~'calc(100% - 118px)';
}

#weexplorer-content{
  width: 100%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 56px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.weexplorer-element{
  width: 100%;
  height: 48px;
  padding: 7px 0;
  float: left;
  border-bottom: 1px solid #e5e9ea;
  position: relative;
}

.back{
  display: none;
}

.weexplorer-back-arrow{
  width: 28px;
  height: 24px;
  float: left;
  margin: 13px 24px 0px 21px;
  background: url( '@static/mobile/goback.png' ) 0 0 no-repeat;
  background-size: 26px 24px;
}

.weexplorer-back-text{
  float: left;
  margin-top: 16px;
  font-size: 17px;
  color: #666;
}

.weexplorer-element-icon{
  /*max-width: 44px;
  max-height: 44px;*/
  width: 40px;
  height: 40px;
  /*float: left;*/
  position: absolute;
  top: 11px;
  left: 16px;
  border-radius: 3px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.weexplorer-element-info{
  /*float: left;*/
  width: 100%;
  padding: 0px 40px 0px 74px;
  box-sizing: border-box;
}

.weexplorer-element-name{
  font-size: 17px;
  font-family: Lato;
  float: left;
  margin-top: 4px;
  color: #545f65;
  width: 100%;
}

.directory .weexplorer-element-name{
  margin-top: 13px;
}

.directory .weexplorer-element-data{
  display: none;
}

.weexplorer-element-data{
  font-size: 13px;
  float: left;
  margin-top: 8px;
  clear: both;
  color: #889399;
}

.weexplorer-element-options{
  width: 22px;
  height: 22px;
  padding: 14px 8px;
  position: absolute;
  top: 7px;
  right: 0px;
}

.weexplorer-element-options-icon{
  width: 22px;
  height: 22px;
  float: left;
  background: url( '@static/mobile/moreinfo.png' ) 0px 0px no-repeat;
  background-size: 22px 22px;
}

#weexplorer-sidebar{
  width: ~'calc(100% - 50px)';
  height: 100%;
  position: absolute;
  top: 0;
  transform: translate3d(-100%,0,0);
  background: #ffffff;
  z-index: 2;
}

.weexplorer-sidebar-header{
  width: 100%;
  height: 84px;
}

.weexplorer-sidebar-title{
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #545f65;
  float: left;
  margin-left: 19px;
  font-family: Lato;
}

.weexplorer-sidebar-element{
  width: 100%;
  height: 62px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 15px;
}

.weexplorer-sidebar-element.active{
  border-top: 1px solid rgba( 0, 0, 0, 0.1 );
  border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
  background: #60b25e;
}

.weexplorer-sidebar-container{
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #D8D8D8;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 17px 0;
}

.active .weexplorer-sidebar-container{
  border-bottom: 1px solid transparent;
}

.weexplorer-sidebar-icon-container{
  width: 25px;
  height: 25px;
  float: left;
  text-align: center;
}

.weexplorer-sidebar-icon{
  width: 21px;
  height: 21px;
  margin: 0 auto;
  background: url( '@static/mobile/sprite-sidebar.png' ) no-repeat 0px 0;
  background-size: 298px 26px;
  display: inline-block;
}

.active.user .weexplorer-sidebar-icon{
  background-position: -22px 0;
}

.music .weexplorer-sidebar-icon{
  width: 19px;
  height: 23px;
  background-position: -44px 0;
}

.active.music .weexplorer-sidebar-icon{
  background-position: -63px 0;
}

.photo .weexplorer-sidebar-icon{
  width: 25px;
  height: 20px;
  background-position: -82px 0;
}

.active.photo .weexplorer-sidebar-icon{
  background-position: -107px 0;
}

.doc .weexplorer-sidebar-icon{
  width: 22px;
  height: 26px;
  background-position: -132px 0;
}

.active.doc .weexplorer-sidebar-icon{
  background-position: -154px 0;
}

.sharedFolder .weexplorer-sidebar-icon{
  width: 20px;
  height: 20px;
  background-position: -176px 0;
}

.active.sharedFolder .weexplorer-sidebar-icon{
  background-position: -197px 0;
}

.receivedFolder .weexplorer-sidebar-icon{
  width: 20px;
  height: 22px;
  background-position: -218px 0;
}

.active.receivedFolder .weexplorer-sidebar-icon{
  background-position: -239px 0;
}

.video .weexplorer-sidebar-icon{
  width: 19px;
  height: 22px;
  background-position: -260px 0;
}

.active.video .weexplorer-sidebar-icon{
  background-position: -279px 0;
}

.weexplorer-sidebar-name{
  margin-top: 4px;
  font-size: 17px;
  font-weight: bold;
  color: #545f65;
  float: left;
  margin-left: 17px;
  font-family: Lato;
}

.active .weexplorer-sidebar-name{
  color: #ffffff;
}

.title .weexplorer-sidebar-name{
  font-weight: bold;
}

.empty-folder{
  position: absolute !important;
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-family: Lato;
  line-height: 1.5em;
  color: #889399;
  display: none;
}

.empty-folder.active{
  display: block;
}

.center-vertical{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
